<section class="sectionSummary">
  <app-alert class="alertCenter" [alertUrlIcon]="alertUrlIcon" [alertShow]="alertShow" [alertHeader]="alertHeader" [alertTitle]="alertTitle" [alertSubtitle]="alertSubtitle"></app-alert>
  <header class="sectionSummary__icon">
    <figure class="exit" (click)="emitEvent()">
      <app-create-icon [class]="'color-white'" [name]="'cancel'" [url]="'../../../../assets/svg_2/cancelar.svg'"></app-create-icon>
    </figure>
  </header>
  <main class="sectionSummary__main">
    <div class="sections">
      <div class="title">
        <h2 class="text-uppercase">FACTURAS Y ALBARANES</h2>
      </div>
    </div>
    <div class="contentMes">
      <div class="mes">
        <input placeholder="🔍 Buscar por año" [(ngModel)]="year">
        <figure class="icon descarga">
          <app-create-icon (click)="downloadDataYear()" [class]="'color-white'" [name]="'download'" [url]="'../../../../assets/svg_2/descarga.svg'"></app-create-icon>
        </figure>
      </div>
      <div class="mes">
        <input placeholder="🔍 Buscar por mes" [(ngModel)]="month">
        <figure class="icon descarga">
          <app-create-icon  (click)="downloadDataMonth()" [class]="'color-white'" [name]="'download'" [url]="'../../../../assets/svg_2/descarga.svg'"></app-create-icon>
        </figure>
      </div>      
    </div>
  </main>
  <footer>
    <!-- <div>
      pagination
    </div> -->
  </footer>
</section>