<section class="sectionSummary">
  <app-alert class="alertCenter" [alertUrlIcon]="alertUrlIcon" [alertShow]="alertShow" [alertHeader]="alertHeader" [alertTitle]="alertTitle" [alertSubtitle]="alertSubtitle"></app-alert>
  <header class="sectionSummary__icon">
    <figure class="exit" (click)="emitEvent()">
      <app-create-icon [class]="'color-white'" [name]="'cancel'" [url]="'../../../../assets/svg_2/cancelar.svg'"></app-create-icon>
    </figure>
  </header>
  <main class="sectionSummary__main">
    <div class="sections">
      <div class="title">
        <h2 class="text-uppercase">DESCARGA POR MES</h2>
      </div>
    </div>
    <div class="contentMes">
      <div class="mes">
        <div class=search>
          <figure class="icon">
            <app-create-icon [class]="'color-gray'" [name]="'search'" [url]="'../../../../assets/svg_2/buscar.svg'"></app-create-icon>
          </figure>
          <input placeholder="AÑO (2020)" [(ngModel)]="year">
        </div>
      </div>
      <div class="mes">
        <div class=search>
          <figure class="icon">
            <app-create-icon [class]="'color-gray'" [name]="'search'" [url]="'../../../../assets/svg_2/buscar.svg'"></app-create-icon>
          </figure>
          <input placeholder="MES (01)" [(ngModel)]="month">
        </div>
      </div>      
    </div>
  </main>
  <div>
    <div class="mes">
      <div class="mes">
        <figure class="icon descarga">
          <app-create-icon  (click)="downloadDataMonth()"  [name]="'download'" [url]="'../../../../assets/svg_2/descarga.svg'"></app-create-icon>
        </figure>
      </div>
    </div>
  </div>
  <footer>
    <!-- <div>
      pagination
    </div> -->
  </footer>
</section>
