<section>
  <header>
    <figure><img src="../../../../assets/svg/cancelar.svg" alt=""></figure>
  </header>
  <main>
    <div>
      <div>
        <span>2017</span>
        <figure><img src="../../../../assets/svg/btn-descargar.svg" alt=""></figure>
      </div>
      <div>
        <span>2018</span>
        <figure><img src="../../../../assets/svg/btn-descargar.svg" alt=""></figure>
      </div>
      <div>
        <span>2019</span>
        <figure><img src="../../../../assets/svg/btn-descargar.svg" alt=""></figure>
      </div>
    </div>
    <div>
      <div>
        <span>Mes</span>
        <figure><img src="../../../../assets/svg/factura.svg" alt=""></figure>
        <figure><img src="../../../../assets/svg/albaran.svg" alt=""></figure>
        <figure><img src="../../../../assets/svg/btn-descargar.svg" alt=""></figure>
      </div>
    </div>
  </main>
  <footer>
    <div>
      <div>
        <figure><img src="../../../../assets/svg/descargar.svg" alt=""></figure>
        <span>Descargar<br>TODO MES</span>
      </div>
      <div>
        pagination
      </div>
    </div>
  </footer>
</section>