<div class='app'>

  <div class='app-calendar' *ngIf="calendarVisible">
    <full-calendar
      #calendar
      defaultView="dayGridWeek"
      [header]="{
        left: 'prev',
        center: 'title',
        right: 'next'
      }"
      [locale]="calendarLocale"
      [plugins]="calendarPlugins"
      [weekends]="calendarWeekends"
      [events]="calendarEvents"
      (eventClick)="changeShowEvent($event)"
    ></full-calendar>
  </div>

  <div class="show__event" *ngIf="showEvent">
    <div class="d-flex flex-column justify-content-between">
      <p>Cliente: {{client}}</p>
      <p>Trabajador: {{user}}</p>
      <p>descripcion: {{description}}</p>
    </div>
  </div>

</div>