h3 {
  margin: 0 0 10px;
}

pre {
  background-color: #f5f5f5;
  padding: 15px;
}

.calendar-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  padding: 15px;
}

.buttons-day {
  display: flex;
  justify-content: flex-end;
}

.icon:hover {
  border: 1px solid #000000;
  border-radius: 5px;
}

.icon {
  width: 70px;
  height: 70px;
  padding: 10px;
  margin: 5px;
}

.today-div {
  margin: auto;
}

.today-button {
  width: 100px;
  height: 80px;
  padding: 15px;
  line-height: 50px;
  font-size: 20px;
}

.today-button:hover {
  font-size: 22px;
}
