@import 'src/assets/scss/variables';

.app-top {
  margin: 0 0 3em;
}

.app-calendar {
  margin: 0 auto;
  max-width: 900px;
}

.fc-button-primary{
  background-color: $color-red !important;
  border-color: $color-red !important;
}
.fc-icon{
  font-size: 1rem;
}

.show__event{
  background-color: #cc2900;
  color: white;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 9;
  width: 350px;
  height: 250px;
  padding: 10px;
  border-radius: 6.5px;
  box-shadow: 0 2px 15px 1px #00000085;
  display: flex;
  align-items: center;
}

.fc-content{
  cursor: pointer;
}

.icon{
  margin-right: 7px;
  display: flex;
  justify-content: flex-end;
  padding-bottom: 2px;
  position: absolute;
  top: 7px;
  right: 1%;

  &.exit{
    width: 15px;
    height: 16px;
    border-radius: 5px;
    background-color: white;
    align-items: center;
  }
}

.fc-content {
  white-space: normal;
}