h3 {
  margin: 0 0 10px;
}

pre {
  background-color: #f5f5f5;
  padding: 15px;
}

.calendar-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  padding: 15px;
}

.buttons-day {
  display: flex;
  justify-content: flex-end;
}

.icon:hover {
  border: 1px solid #000000;
  border-radius: 5px;
}

.icon {
  width: 70px;
  height: 70px;
  padding: 10px;
  margin: 5px;
}

.today-div {
  margin: auto;
}

.today-button {
  width: 100px;
  height: 80px;
  padding: 15px;
  line-height: 50px;
  font-size: 20px;
}

.today-button:hover {
  font-size: 22px;
}

.modal-title {
  margin: 5px 0px;
}

.modal-text-container {
  margin: 5px 0px;
  padding: 30px;
  background-color: #f5f5f5;
}

.button-close {
  width: 70px;
  height: 35px;
  border: none;
  padding: 10px;
  background-color: #cd2a00;
  border-radius: 5px;
  color: white;
  font-size: .8rem;
  box-shadow: 0 2px 5px 1px #00000042;
  outline: none;
  margin-bottom: 5px;
}

.orange-tf {
  color: #cd2a00;
}

.description-field {
  overflow-x: auto;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  font-size: 16px;
  color: black;
}

.priority-div{
  text-align: right;
  margin: -10px 0px 10px 0px;
  cursor: default;
}

.priority-label{    
  color: white;
  font-size: 1.1rem;
  font-weight: bold;
  background-color: #cd2a00;
  padding: 8px 15px;
  border-radius: 5px;
}