<section class="filter">
  <div class="filter__containButton">
    <button type="button" class="filter__containButton--button" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="filter">
      <span class="filter__containButton--title">Filtrar</span>
      <img src="../../../assets/svg/flecha-abajo.svg" alt="">
    </button>
  </div>
  <div class="filter__containOptions" id="filter" [ngbCollapse]="isCollapsed">
    <div>
      <label for="status">Estado</label>
      <select name="status" id="">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
      </select>
    </div>
    <div>
      <label for="">Número de servicio</label>
      <input type="text">
    </div>
    <div>
      <label for="">Actividad</label>
      <select name="status" id="">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
      </select>
    </div>
    <div>
      <label for="">Cliente</label>
      <input type="text">
    </div>
    <div>
      <label for="">Palabra clave</label>
      <input type="text">
    </div>
    <div>
      <label for="">Año</label>
      <select name="status" id="">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
      </select>
    </div>
    <div>
      <label for="">Mes</label>
      <select name="status" id="">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
      </select>
    </div>
  </div>
</section>