@import '../../../assets/scss/variables';

.filter{
  height: 60px;
  background-color: $color-black-middle;

  &__containButton{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &--button{
      border: none;
      background-color: transparent;
      color: white;
      font-size: 1.2rem;
      height: 25px;
      outline: none !important;
      
      &:focus, &:active{
        outline: none !important;
      }
    }

    &--title{
      margin-right: 12px;
    }
  }

  &__containOptions{
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    align-items: center;
    background-color: $color-gray;
    transition: all .5s;

    .option{
      display: flex;
      flex-direction: column;
      margin: 0 13px;

      input, select{
        height: 35px;
        border-radius: 5px;
        border: 1px solid black;
        padding: 5px 7px;
        font-size: .8rem;
      }
    }
  }
}

.transition{
  transform: rotate(180deg);
}

.all-inputs-filter {
  display: flex !important;
  justify-content: space-between !important;
}

@media (max-width: 767px){

  .filter{

    &__containButton{
  
      &--button{
        font-size: 1.5rem;
      }
    }

    &__containOptions{
      display: inline !important;
      background-color: transparent;
      padding: 0px;
      margin: 0px !important;
     
      .option{
        margin: 0px !important;
        position: relative;
        z-index: 10 !important;
        background-color: $color-gray;
        width: 100%;

        label{
          padding-left: 10px;
        }
      
        input, select{
          height: 35px;
          padding: 5px 7px;
          margin-right: 10px;
          margin-left: 10px;
          font-size: .8rem;
         
        }
      }
     
    }
  }
}

