@import url('https://fonts.googleapis.com/css?family=Lato');

*{
  margin: 0;
  box-sizing: border-box;
}

body{
  padding: 0;
  margin: 0;
  font-family: 'Lato';
}

.alertCenter{
  position: absolute;
  width: 90%;
  margin: auto;
  top: 36%;
  z-index: 99999999;
}
