//Medidas
    //Ancho
    $w-xs: 575.98px;
    $w-sm: 767.98px;
    $w-md: 991.98px;
    $w-lg: 1023.98px;
    $w-xlg: 1243.98px;

//Colors
  $color-white: #fff;
  $color-gray: #c1c1c8;
  $color-black: #000;
  $color-black-middle: #303030;
  $color-red: #cd2a00;

// font size
$fs-title: 14px;
$fs-subtitle: 1.2rem;
