<section class="login-and-register">
  <div role="login">
    <div class="section__red">
      <app-alert class="alertCenter" [alertUrlIcon]="alertUrlIcon" [alertShow]="alertShow" [alertHeader]="alertHeader" [alertTitle]="alertTitle" [alertSubtitle]="alertSubtitle"></app-alert>
      <div class="section__red--logo">
        <figure>
          <img src="../../../assets/images/logo-blanco.png" alt="torrefiel logo">
        </figure>
      </div>
      <div class="resetpass--title">Recuperar contraseña</div>
      <section class="section__red--inputs">
        <div class="contain-input">
          <label for="user" class="label">Usuario</label>
          <input type="text" class="input" placeholder="Nickname" name="nickname" #nickname="ngModel" [(ngModel)]="userName" required>

          <small class="error-input" *ngIf="!nickname.valid && nickname.touched">
            Nickname no es válido
          </small>
        </div>
        <div class="contain-input">
          <label for="user" class="label">Email*</label>
          <input type="email" class="input" placeholder="nombre@correo.com" name="email" #email="ngModel" [(ngModel)]="userEmail" required>

          <small class="error-input" *ngIf="!email.valid && email.touched">
            Email no es válido
          </small>
        </div>
      </section>
      <div class="section__red--enter mb-30">
        <button (click)="resetPasswordMail()">Enviar</button>
      </div>
    </div>
  </div>
</section>