<section class="login-and-register">
  <div role="login">
    <div class="section__red">
      <div class="section__red--logo">
        <figure>
          <img src="../../../assets/images/logo-blanco.png" alt="torrefiel logo">
        </figure>
      </div>
      <section class="section__red--inputs">
        <div class="contain-input">
          <figure class="eye" [ngClass]="{'active': showPass}" (click)="changePass()">
            <img src="../../../assets/svg/eye.svg" alt="">
          </figure>

          <label for="user" class="label">Contraseña</label>
          <input *ngIf="showPass" [type]="type" class="input" minlength="4" placeholder="Minimo 4 caracteres" name="password" #password="ngModel" [(ngModel)]="user.password" required>

          <small class="error-input" *ngIf="!password.valid && password.touched">
            Contraseña no es válida
          </small>
        </div>
        
        <div class="contain-input mb-0">
          <label for="user" class="label">Contraseña (Repetir)</label>
          <input type="password" class="input" minlength="4" placeholder="Repetir Contraseña" name="passwordRepeatVariable" #passwordRepeatVariable="ngModel" [(ngModel)]="passwordRepeat" required>

          <small class="error-input" *ngIf="!passwordRepeatVariable.valid && passwordRepeatVariable.touched">
            Contraseña no es válida
          </small>
          <small class="error-input b-26" *ngIf="passwordRepeatVariable !== user.password">
            Las contraseñas no coinciden
          </small>
        </div>
      </section>
      <div class="section__red--enter">
        <button (click)="onSubmitPass()">Siguiente</button>
      </div>
    </div>
  </div>
</section>