@import '../../../../assets/scss/variables';
@import '../../../../assets/scss/components/hoverIcon';

.description{
  min-height: 465px;
  background-color: $color-white;
  display: flex;
  border-radius: 16px;
  margin-bottom: 3rem;

  &__info{
    position: relative;
    width: 89%;

    .up{
      height: 47%;
      padding: 13px;
  
      &Contain{
        display: flex;
        align-items: center;
        padding: 4px;
        justify-content: space-between;
        width: 66%;
        margin-left: 10%;
        margin-bottom: 7px;
        width: 78.5%;
  
        .info{
          background-color: $color-gray;
          padding: 12px 19px;
          border-radius: 15px;
          text-align: center;
          min-height: 47px;
  
          &.hours{
            width: 55%;
          }
          &.priority{
            width: 129px;
            margin-bottom: 0;
          }
          &.stage{
            width: 53%;
          }
          &.direction{
            width: 100%;
          }
        }
      }
    }
  
    .dowm{
      background-color: $color-gray;
      padding: 23px 28px;
      border-radius: 15px;
      width: 91%;
      margin: auto;
      margin-top: 15px;
      min-height: 205px;
  
      .descriptionService{
        margin-bottom: 3px;
        display: flex;
        align-items: center;
        p{
          margin-right: 5px;
          margin-bottom: 0;
        }
        h2{
          display: inline;
        }
      }
  
      h2{
        font-size: 1rem;
        margin-bottom: 3px;
      }
    }

    .sectionMenu{
      position: absolute;
      width: 100%;
      height: 109%;
      top: -6%;
      left: 0;

      .pdf, .bill, .calendar, .chat, .images, .firm, .note{
        background-color: rgba($color: #000000, $alpha: .8);
      }

      .pdf, .bill{
        width: 65%;
        margin: auto;
        height: 100%;
        border-radius: 6px;
      }

      .calendar{
        width: 80%;
        margin: auto;
        height: 100%;
        border-radius: 6px;
      }

      .chat{
        padding: 8px 0px;
        width: 40%;
        height: 83%;
        position: absolute;
        bottom: 5%;
        right: 5px;
      }

      .images{
        padding: 2px 20px 0px;
        width: 50%;
        height: 85%;
        position: absolute;
        bottom: 0;
        right: 0;
      }

      .firm{
        padding: 8px 30px;
        width: 50%;
        height: 50%;
        position: absolute;
        bottom: 6%;
        right: 14px;
        border-radius: 5px;
        padding-top: 30px;
      }

      .note{
        padding: 8px 0px;
        width: 40%;
        height: 60%;
        position: absolute;
        bottom: 5%;
        right: 5px;
      }
    }
  }

  &__icons{
    width: 12%;
    background-color: $color-red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;

    &--icon{
      margin-bottom: 0;
      width: 40px;
      height: 38px;
      position: relative;
      transition: all 0.5s;
      margin-top: 5px;
  
      &:hover, &.active{
        .hoverIcon{
          display: block !important;
        }
      }
  
      .hoverIcon{
        @extend %hoverIcon;
        display: none;
        bottom: inherit;
        left: 115%;
        top: 9%;
        right: auto;
        width: max-content;
      }
    }
  }
}

.no-data{
  height: 465px;
  color: white;
}

.w-inherit{
  width: inherit;
}  

.f-bold{
  font-weight: bold;
}

.urgent{
  background-color: #cd2a00 !important;
  color: white;
}