@import '../../../../assets/scss/variables';
@import '../../../../assets/scss/components/hoverIcon';

.description{
  min-height: 465px;
  background-color: $color-white;
  display: flex;
  border-radius: 16px;
  margin-bottom: 3rem;

  &__info{
    position: relative;
    width: 89%;

    .up{
      height: 47%;
      padding: 13px;
  
      &Contain{
        display: flex;
        align-items: center;
        padding: 4px;
        justify-content: space-between;
        margin: auto;
        width: 95%;
  
        .info{
          background-color: $color-gray;
          padding: 12px 19px;
          border-radius: 15px;
          text-align: center;
          min-height: 47px;
          margin: 0 5px;
  
          &.hours{
            width: 55%;
          }
          &.priority{
            width: 129px;
            margin-bottom: 0;
          }
          &.stage{
            width: 53%;
          }
          &.direction{
            width: 100%;
          }
        }
      }
    }
  
    .dowm{
      background-color: $color-gray;
      padding: 23px 28px;
      border-radius: 15px;
      width: 95%;
      margin: auto;
      margin-top: 30px;
      min-height: 205px;
  
      .descriptionService{
        margin-bottom: 3px;
        display: flex;
        align-items: center;
        p{
          margin-right: 5px;
          margin-bottom: 0;
        }
        h2{
          display: inline;
        }
      }
  
      h2{
        font-size: 1rem;
        margin-bottom: 3px;
      }
    }

    .sectionMenu{
      position: absolute;
      width: 100%;
      height: 109%;
      top: -6%;
      left: 0;
      z-index: 2;

      .pdf, .bill, .calendar, .scheduling, .chat, .images, .firm, .note{
        background-color: rgba($color: #000000, $alpha: .8);
      }

      .pdf, .bill{
        width: 65%;
        margin: auto;
        height: 100%;
        border-radius: 6px;
      }

      .calendar{
        width: 80%;
        margin: auto;
        height: 100%;
        border-radius: 6px;
      }

      .chat{
        padding: 8px 0px;
        width: 40%;
        height: 83%;
        position: absolute;
        bottom: 5%;
        right: 5px;
      }

      .images{
        padding: 2px 20px 0px;
        width: 50%;
        height: 85%;
        position: absolute;
        bottom: 0;
        right: 0;
      }

      .firm{
        padding: 8px 30px;
        width: 50%;
        height: 50%;
        position: absolute;
        bottom: 6%;
        right: 14px;
        border-radius: 5px;
        padding-top: 30px;
      }

      .note{
        padding: 8px 0px;
        width: 40%;
        height: 60%;
        position: absolute;
        bottom: 5%;
        right: 5px;
      }
      .scheduling {
        width: 60%;
        margin: 10% auto auto auto;
        height: 70%;
        border-radius: 6px;
      }
    }
  }

  &__icons{
    width: 12%;
    background-color: $color-red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;

    &--icon{
      margin-bottom: 0;
      width: 40px;
      height: 38px;
      position: relative;
      transition: all 0.5s;
      margin-top: 5px;
  
      &:hover, &.active{
        .hoverIcon{
          display: block !important;
        }
      }
  
      .hoverIcon{
        @extend %hoverIcon;
        display: none;
        bottom: inherit;
        left: 115%;
        top: 9%;
        right: auto;
        width: max-content;
      }
    }
  }
}

.no-data{
  height: 465px;
  color: white;
}

.w-inherit{
  width: inherit;
}  

.f-bold{
  font-weight: bold;
}

.urgent{
  background-color: #cd2a00 !important;
  color: white;
}

.box-editing {
  display: flex; 
  justify-content: space-between;
  position: relative;
  z-index: 3;

  .edit-icon {
    position: absolute;
    width: 25px;
    height: 23px;
    margin: -3% 0 -10px 0;
    right: 10px;
  }
}

.beetween-index {
  z-index: 3;
}

.conditional-section {
  z-index: 4 !important;
}

.input-names {
  display: flex;
}

.input-names input{
  width: 33% !important;
  border-radius: 0 !important;
  border-left: none;
  border-right: none;
}

.input-directions {
  display: flex;
}

.input-directions input{
  width: 20% !important;
  border-radius: 0 !important;
  border-left: none;
  border-right: none;
}

.input-amount {
  width: 20% !important;
  border-radius: 0 !important;
  border-left: none;
  border-right: none;
}

.edit-amount-icon {
  margin-top: -15px !important;
}

.edit-bill {
  margin-top: -15px !important;
  margin-right: -3px !important;
}

.edit-directions-icon {
  margin-top: -15px !important;
}

.area-description { 
  background-color: $color-gray;
}

.priority-label {
  cursor: pointer;
  z-index: 3;
}

.num-bill {
  width: 250px;
}

.names-box {
}

.price {
  width: 140px;
}

.multiselect-index {
  z-index: 5 !important;
}