<div class="description">
  <div class="description__info">
    <div class="up">
      <div class="upContain">
        <span class="info code f-bold ">#{{job.numService}}</span>
          <input value={{job.numBill}} placeholder="N° Factura" *ngIf="edit.bill === false" class="info code f-bold box-editing num-bill" (click)="edit.bill = true" style="border-color:transparent;">
          <input (focusout)="submitJobBill()" class="beetween-index info code input-bill" *ngIf="edit.bill === true" [(ngModel)]="job.numBill">
        <span class="info date">{{getDate(job.startDate) | date: 'dd/MM/yyyy'}} - {{job.startHours}}</span>
      </div>
      <div class="upContain">
        <span *ngIf="edit.names === false" class="info hours box-editing" (click)="edit.names = true">
          {{ job.name }} {{job.lastName}} {{job.motherLastName}}
        </span>
        <span (focusout)="submitJobNames()" class="input-names" *ngIf="edit.names === true">
          <input (focusout)="keep.input1 = false" (mousedown)="keep.input1 = true" [(ngModel)]="job.name" class="info hours box-editing" placeholder="Nombre">
          <input (focusout)="keep.input2 = false" (mousedown)="keep.input2 = true" [(ngModel)]="job.lastName" class="info hours box-editing" placeholder="Apellido Paterno">
          <input (focusout)="keep.input3 = false" (mousedown)="keep.input3 = true" [(ngModel)]="job.motherLastName" class="info hours box-editing" placeholder="Apellido Materno">
        </span>
      </div>

      <!-- Se ponen clases condicionales ngClass para ajustar los z-index -->
      <!-- 
        Se cambia el valor de editStatus, se inicializa en false, si se cambia a true con el botón
        de editar, entonces ya no se muestra el span con el trabajo, sino el input para modificar job.status
     -->

     
      <div *ngIf="edit.directions === false" class="upContain">
        <span class="info direction box-editing" (click)="edit.directions = true">
          {{job.direction}} {{job.numberExternal}} - {{job.numberInternal}}, {{job.province}} - {{job.municipality}}
        </span>
      </div>

      <span (focusout)="submitJobDirections()" class="upContain input-directions" *ngIf="edit.directions === true">
        <input (focusout)="keep.direction1 = false" (mousedown)="keep.direction1 = true" [(ngModel)]="job.direction" class="info hours box-editing" placeholder="Calle">
        <input (focusout)="keep.direction2 = false" (mousedown)="keep.direction2 = true" [(ngModel)]="job.numberExternal" class="info hours box-editing" placeholder="N° Externo">
        <input (focusout)="keep.direction3 = false" (mousedown)="keep.direction3 = true" [(ngModel)]="job.numberInternal" class="info hours box-editing" placeholder="N° Interno">
        <input (focusout)="keep.direction4 = false" (mousedown)="keep.direction4 = true" [(ngModel)]="job.province" class="info hours box-editing" placeholder="Provincia">
        <input (focusout)="keep.direction5 = false" (mousedown)="keep.direction5 = true" [(ngModel)]="job.municipality" class="info hours box-editing" placeholder="Municipio">
      </span>

      <div class="upContain">
        <span class="info box-editing stage f-bold" *ngIf="edit.status === false" (click)="edit.status = true">
          {{job.status}}
        </span>
        <select (focusout)="submitJobStatus()" class="info stage f-bold beetween-index" name="status" [(ngModel)]="job.status" required *ngIf="edit.status === true">
          <option value="">Selecciona un estado</option>
          <option *ngFor="let option of optionsStatus" [value]="option">{{option}}</option>
        </select>
        <span class="info box-editing job-iva f-bold" *ngIf="edit.iva === false" (click)="edit.iva = true">
          {{ job.typeIva === 10 ? 'Reducido' : 'Normal' }}
        </span>
        <select (focusout)="submitJobIva()" class="info job-iva f-bold beetween-index" name="status" [(ngModel)]="job.typeIva" required *ngIf="edit.iva === true">
          <option value="10">Reducido</option>
          <option value="21">Normal</option>
        </select>

       
        <input placeholder="Importe" value="{{job.amount? job.amount + '€' : ''}}" *ngIf="edit.amount === false" class="info price box-editing" (click)="edit.amount = true" style="border-color:transparent;">
        <input click="imprimir()" (focusout)="submitJobAmount()" class="beetween-index input-amount info price" *ngIf="edit.amount === true" [(ngModel)]="job.amount">
       
       
      </div>
      <div class="upContain">
        <span class="info box-editing job-activities f-bold" *ngIf="edit.activities === false" (click)="edit.activities = true">
          {{job.activities.length > 0 ? job.activities[0] : 'Sin actividad(es)'}} {{ job.activities.length > 1 ? ' ... + ' + (job.activities.length -1) : '' }}
        </span>
        <ng-multiselect-dropdown  
          class="info job-activities f-bold beetween-index multiselect-index" 
          (onDropDownClose)="submitJobActivities()" 
          *ngIf="edit.activities === true"
          [settings]="dropdownSettings"
          [placeholder]="'Selecciona la(s) actividad(es)'"
          [data]="dropdownList"
          [(ngModel)]="selectedItems"
          [ngModelOptions]="{standalone: true}"
        >
        </ng-multiselect-dropdown>
        <div class="priority-label">
          <label (click)="submitNewPriority()" for="priority" class="priority-label priority info" [ngClass]="{'urgent': job.priority}">
            <span *ngIf="job.priority">Urgente</span>
            <span *ngIf="!job.priority">Normal</span>
          </label>
        </div>
      </div>
      

    </div>
    <div *ngIf="edit.description === false" class="beetween-index">
      <textarea placeholder="Descripción del trabajo" value={{job.description}}  class="area-description box-editing dowm" (click)="edit.description = true"> 
      </textarea>
    </div> 

    <div *ngIf="edit.description === true" class="beetween-index">
      <textarea class="area-description box-editing dowm input-description" (focusout)="submitJobDescription()" [(ngModel)]="job.description"></textarea>
    </div>


    <div [ngClass]="{'conditional-section': sectionMenuShow != ''}" class="sectionMenu">
      <div class="pdf delivery-note d-flex justify-content-center" *ngIf="sectionMenuShow === DELIVERYNOTE" >
        <app-delivery-note [clientData]="clientData" [deliveryNoteData]="job" (closeWindow)="close($event)" style="width: 90%;"></app-delivery-note>
      </div>
      <div class="bill delivery-note d-flex justify-content-center" *ngIf="sectionMenuShow === BILL">
        <app-bill [clientData]="clientData" [deliveryNoteData]="job" (closeWindow)="close($event)" style="width: 90%;"></app-bill>
      </div>
      <div class="scheduling" *ngIf="sectionMenuShow === CALENDAR">
        <app-schedule (serviceToJobs)="receiveDataFromChild($event)" class="w-100" (closeWindow)="close($event)" [startService]="job.startDate" [hourService]="job.startHours" [service]="job" [worker]="worker"></app-schedule>
      </div>
      <div class="chat" *ngIf="sectionMenuShow === CHAT">
        <app-chat class="w-100" (closeWindow)="close($event)"></app-chat>
      </div>
      <div class="images" *ngIf="sectionMenuShow === IMAGES">
        <app-images class="w-100" (closeWindow)="close($event)" [id]="job._id"></app-images>
      </div>
    
      <div class="note" *ngIf="sectionMenuShow === NOTE">
        <app-note class="w-100" (closeWindow)="close($event)" [message]="job.note" [id]="job._id"></app-note> 
      </div>
    </div>
  </div>
  <div class="description__icons">
    <figure class="description__icons--icon" [ngClass]="{'active': sectionMenuShow === DELIVERYNOTE}" (click)="sectionMenuShow = DELIVERYNOTE">
      <app-create-icon [class]="'color-gray bg-white button h-color-red'" [name]="'delivery-note'" [url]="'../../../assets/svg_2/albaran-menu.svg'"></app-create-icon>
      <div class="hoverIcon fadeIn">
        Albarán
      </div>
    </figure>
    <figure class="description__icons--icon" [ngClass]="{'active': sectionMenuShow === BILL}" (click)="sectionMenuShow = BILL">
      <app-create-icon [class]="'color-gray bg-white button h-color-red'" [name]="'bill'" [url]="'../../../assets/svg_2/file.svg'"></app-create-icon>
      <div class="hoverIcon fadeIn">
        Factura
      </div>
    </figure>
    <figure class="description__icons--icon" [ngClass]="{'active': sectionMenuShow === CALENDAR}" (click)="sectionMenuShow = CALENDAR">
      <app-create-icon [class]="'color-gray bg-white button h-color-red'" [name]="'calendar'" [url]="'../../../assets/svg_2/calendario.svg'"></app-create-icon>
      <div class="hoverIcon fadeIn">
        Agendar
      </div>
    </figure>
    <figure class="description__icons--icon" [ngClass]="{'active': sectionMenuShow === CHAT}" (click)="sectionMenuShow = CHAT">
      <app-create-icon [class]="'color-gray bg-white button h-color-red'" [name]="'chat'" [url]="'../../../assets/svg_2/comentar.svg'" ></app-create-icon>
      <div class="hoverIcon fadeIn">
        Chat
      </div>
    </figure>
    <figure class="description__icons--icon" [ngClass]="{'active': sectionMenuShow === IMAGES}" (click)="sectionMenuShow = IMAGES" >
      <app-create-icon [class]="'color-gray bg-white button h-color-red p-7'" [name]="'img'" [url]="'../../../assets/svg_2/img-firma.svg'" ></app-create-icon>
      <div class="hoverIcon fadeIn">
        Imágenes cliente
      </div>
    </figure>
    
    <figure class="description__icons--icon" [ngClass]="{'active': sectionMenuShow === NOTE}" (click)="sectionMenuShow = NOTE">
      <app-create-icon [class]="'color-gray bg-white button h-color-red'" [name]="'note'" [url]="'../../../assets/svg_2/note-intern.svg'"></app-create-icon>
      <div class="hoverIcon fadeIn">
        Nota interna
      </div>
    </figure>
  </div>
</div>
