@import '../../../../assets/scss/variables';
@import '../../../../assets/scss/components/hoverIcon';

.area-description::-webkit-scrollbar {
  -webkit-appearance: none;
}

.area-description::-webkit-scrollbar:vertical {
  width: 15px;
}

.area-description::-webkit-scrollbar-button:increment,.area-description::-webkit-scrollbar-button {
  display: none;
  border-radius: 10px;
} 

.area-description::-webkit-scrollbar-thumb {
  background-color: $color-gray;
  border-radius: 10px;
  border: 2px solid white;
}

.area-description::-webkit-scrollbar-track {
  background-color: white;
  box-shadow: inset 0 0 5px $color-gray; 
  border-radius: 10px;  
}

.area-description::-webkit-scrollbar-thumb:hover {
  border: transparent;
}

.area-description::-webkit-scrollbar-corner{
  overflow: auto;
  border-radius: 20px;
}

.description{
  min-height: 465px;
  background-color: $color-white;
  display: flex;
  border-radius: 16px;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;

  &__info{
    position: relative;
    width: 89%;

    .up{
      padding: 13px;
  
      &Contain{
        display: flex;
        align-items: center;
        padding: 4px;
        justify-content: space-between;
        margin: auto;
        width: 95%;
  
        .info{
          background-color: $color-gray;
          padding: 12px 19px;
          border-radius: 15px;
          text-align: center;
          min-height: 47px;
          margin: 0 5px;

          &.code{
            width: 30%;
          }
          &.date{
            width: 40%;
          }
          &.stage{
            min-width: 50%;
          }
          &.hours{
            width: 100%;
          }
          &.priority{
            margin-bottom: 0;
          }
          &.direction{
            width: 100%;
          }
          &.job-activities{
            min-width: 50%;
          }
          &.urgent{
           min-width: 140px;
          }
          &.priority{
            min-width: 140px;
           }

        }
      }
    }
  
    .dowm{
      background-color: $color-gray;
      padding: 10px 18px;
      border-radius: 15px;
      width: 90%;
      margin: auto;
      min-height: 110px;

  
      .descriptionService{
        margin-bottom: 3px;
        display: flex;
        align-items: center;
        p, textarea{
          margin-right: 5px;
          margin-bottom: 0;
        }
        
        h2{
          display: inline;
        }
      }
  
      h2{
        font-size: 1rem;
        margin-bottom: 3px;
      }
    }

    .sectionMenu{
      margin-top: 10px;
      position: absolute;
      width: 100%;
      height: 109%;
      top: -6%;
      left: 0;
      z-index: 2;

      .pdf, .bill, .calendar, .scheduling, .chat, .images, .firm, .note{
        background-color: rgba($color: #000000, $alpha: .8);
      }

      .bill{
        width: 90%;
        margin: auto;
        height: 100%;
        border-radius: 6px 6px 0 0;
      }

      .pdf{
        width: 90%;
        margin: auto;
        height: 100%;
        border-radius: 6px 6px 0 0;
      }

      .calendar{
        width: 80%;
        margin: auto;
        height: 100%;
        border-radius: 6px;
      }

      .chat{
        padding: 8px 0px;
        width: 40%;
        height: 60%;
        position: absolute;
        top: 10%;
        right: 5px;
      }

      .images{
        padding: 2px 20px 0px;
        width: 60%;
        position: absolute;
        bottom: 0;
        right: 0;
        margin-bottom: 1.5rem;
      }

      .firm{
        padding: 8px 30px;
        width: 50%;
        height: 50%;
        position: absolute;
        bottom: 6%;
        right: 14px;
        border-radius: 5px;
        padding-top: 30px;
      }

      .note, .chat{
        padding: 8px 0px;
        width: 40%;
        height: 60%;
        position: absolute;
        top: 10%;
        right: 5px;
      }
      .scheduling {
        width: 90%;
        margin: 5% auto auto auto;
        height: 80%;
        border-radius: 6px;
      }
    }
  }

  .area-description{
    font-size: .8rem;
  }

  &__icons{
    width: 12%;
    background-color: $color-red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;

    &--icon{
      margin-bottom: 0;
      width: 40px;
      height: 38px;
      position: relative;
      transition: all 0.5s;
      margin-top: 5px;
  
      &:hover, &.active{
        .hoverIcon{
          display: block ;
        }
      }
  
      .hoverIcon{
        @extend %hoverIcon;
        display: none;
        bottom: inherit;
        left: 115%;
        top: 9%;
        right: auto;
        width: max-content;
      }
    }
  }
}

.no-data{
  height: 465px;
  color: white;
}

.w-inherit{
  width: inherit;
}  

.f-bold{
  font-weight: bold;
}

.urgent{
  background-color: #cd2a00 !important;
  color: white;
}

.box-editing {
  display: flex; 
  justify-content: space-between;
  position: relative;
  z-index: 3;
  min-height: 50px;
  word-break: break-word;
  background-color: $color-gray;
  border-radius: 15px;
  width: 90%;
  margin: auto;

  .edit-icon {
    position: absolute;
    width: 25px;
    height: 23px;
    margin: -3% 0 -10px 0;
    right: 10px;
  }
}

.beetween-index {
  z-index: 3;
}

.conditional-section {
  z-index: 4 !important;
}

.input-names {
  display: flex;
}

.input-names input{
  width: 33% !important;
  border-radius: 0 !important;
  border-left: none;
  border-right: none;
}

.input-directions {
  display: flex;
}

.input-directions input{
  width: 20% !important;
  border-radius: 0 !important;
  border-left: none;
  border-right: none;
}


.input-amount {
  width: 20% !important;
  border-radius: 0 !important;
  border-left: none;
  border-right: none;
}

.input-bill {
  width: 20% !important;
  border-radius: 0 !important;
  border-left: none;
  border-right: none;
}

.input-description{
  border-radius: 0 !important;
  border-width: 2px !important;
  border-style: solid;
  border-color: black !important;
  border-right: none;
  border-left: none;

}

.edit-amount-icon {
  margin-top: -15px !important;
}

.edit-bill {
  margin-top: -15px !important;
  margin-right: -3px !important;
}

.edit-directions-icon {
  margin-top: -15px !important;
}

.area-description { 
  background-color: $color-gray;
  border-color: transparent;
  
}

.priority-label {
  cursor: pointer;
  z-index: 3;
}

.num-bill {
  width: 250px;
}

.price {
  min-width: 140px;
}

.job-iva{
  min-width: 140px;
}

.multiselect-index {
  z-index: 5 !important;
}

textarea {
  resize: none;
  border: none;
}

textarea.area-description:focus{
  outline-width: 0;
}

@media (max-width: 1036px){
  .stage{
    min-width: 40% !important;
  }
  .job-iva{
    min-width: 100px;
  }
  .price{
    min-width: 100px;
  }
  .urgent{
    min-width: 100px;
  }
  .priority-label{
    min-width: 100px !important;
  }
}

@media (max-width: 780px) { 

  .hoverIcon{
    display: none !important;
  }

  .description{
    display: block;
    &__info{
      position: relative;
      width: 100%;
      padding-bottom: 5px;
    }
    &__icons{
      flex-direction: row;
      width: 100%;
      border-top-right-radius: 0px;
      border-bottom-left-radius: 16px;
      &--icon{
        margin-bottom: 5px;
      }
    }  

    .note, .chat{
      padding: 8px 0px;
      width: 40%;
      height: 60%;
      position: absolute;
      top: 10%;
      right: 5px;
    }
  }
  .note, .chat{
    top: 130px;
    height: 66%;
  }
 
    .images{
      margin-bottom: 0px !important;
      bottom: 25px !important;
      width: 70% !important;
      height: auto !important;
    
    }
    .note, .chat{
      background-color: transparent !important;
      
    }
}



@media (max-width: 535px){
  .description{
    font-size: .8rem;
  }
  .stage{
    min-width: 35% !important;
  }
  .job-iva{
   min-width: 80px;
  }
  .price{
    min-width: 80px;
  }
}