@import '../../../assets/scss/variables';

$w-stroke: 1.5px;

.icon{
  width: 100%;
  height: 100%;
  cursor: pointer;

  path{
    width: 100%;
    height: 100%;
  }
}

.button{
  padding: 3px;
  border-radius: 8px;
  box-shadow: 0 2px 15px 1px #00000047;
}

.color-white{
  stroke: $color-white;
}

.color-red{
  stroke: $color-red;
}

.color-gray{
  stroke: $color-black-middle;
}

.bg-white{
  background-color: white;
}

.h-color-red{
  &:hover{
    fill: $color-red;
    stroke: $color-red;
  }
}

.bg-red{
  fill: $color-red;
}

.p-7{
  padding: 7px;
}

.p-2x{
  padding: 2px !important;
}