<header>
  <div class="logo">
    <figure>
      <img src="../../../assets/images/logo-blanco.png" alt="">
    </figure>
  </div>
  <div class="contain__middle">
    <div class="contain__name">
      <h2 class="name">
        Hola
      </h2>
    </div>
  </div>
  <div class="contain__icons">
    <figure class="icon" (click)="getAllService()">
      <app-create-icon [class]="'button color-gray bg-white h-color-red'" [name]="'calendar'" [url]="'../../../assets/svg/calendario.svg'"></app-create-icon>
      <span class="hoverIcon fadeIn">Calendario</span>
    </figure>
    <figure class="icon">
      <app-create-icon [class]="'color-white'" [name]="'campana'" [url]="'../../../assets/svg/campana.svg'"></app-create-icon>
      <div class="d-none">
        notificaciones
      </div>
    </figure>
    <figure class="icon" (click)="closeSession()">
      <app-create-icon [class]="'color-white'" [name]="'exit'" [url]="'../../../assets/svg/salir.svg'"></app-create-icon>
      <div class="d-none">
        estas seguro?
      </div>
    </figure>
  </div>
  <div class="show__calendar" *ngIf="showCalendar">
    <div>
      <app-card-calendar [events]="allEvents"></app-card-calendar>
    </div>
  </div>
</header>