<header>
  <div class="logo">
    <figure>
      <img src="assets/images/logo-blanco.png" alt="">
    </figure>
  </div>
  <div class="contain__middle">
    <div class="contain__name">
      <h2 class="name">
        Hola {{nickName}}
      </h2>
    </div>
  </div>
  <div class="contain__icons">
    <figure class="icon" (click)="toggleCalendar()">
      <app-create-icon [class]="'button color-gray bg-white h-color-red'" [name]="'calendar'" [url]="'../../../assets/svg_2/calendario.svg'"></app-create-icon>
      <span class="hoverIcon fadeIn">Calendario</span>
    </figure>
    <figure class="icon" (click)="openNotifications()">
      <p *ngIf="allNotifications.length > 0" class="burbujaNotificacion">{{allNotifications.length}}</p>
      <app-create-icon [class]="'color-white'" [name]="'campana'" [url]="'../../../assets/svg_2/campana.svg'"></app-create-icon>
      <div class="d-none">
        notificaciones
      </div>
    </figure>
    <figure class="icon" (click)="closeSession()">
      <app-create-icon [class]="'color-white'" [name]="'exit'" [url]="'../../../assets/svg_2/salir.svg'"></app-create-icon>
      <div class="d-none">
        estas seguro?
      </div>
    </figure>
  </div>
  <div class="show__calendar" *ngIf="showCalendar" id="show__calendar">
    <div>
      <app-card-calendar [eventsInput]="allEvents"></app-card-calendar>
    </div>
  </div>
  <div class="show__notifications" *ngIf="showNotification" id="show__calendar">
    <div>
      <app-notifications [allNotifications]="allNotifications" (deleteNotificationIndex)="deleteNotification($event)"></app-notifications>
    </div>
  </div>
  
</header>