<header>
  <div>
    <figure>
      <img src="../../../assets/images/logo-blanco.png" alt="">
    </figure>
  </div>
  <div>
    <div>
      <input type="search">
    </div>
    <div>
      Hola hola
    </div>
  </div>
  <div>
    <div>
      <figure>
        <img src="../../../assets/svg/calendario.png" alt="">
      </figure>
    </div>
    <div>
      <figure>
        <img src="../../../assets/svg/notificacion.svg" alt="">
      </figure>
    </div>
    <div>
      <figure>
        <img src="../../../assets/svg/salir.svg" alt="">
      </figure>
    </div>
  </div>
</header>