<section class="sectionFirm">
  <header class="sectionFirm__icons">
    <figure class="icon exit">
      <app-create-icon [class]="'color-red'" [name]="'cancel'" [url]="'../../../../assets/svg/cancelar.svg'"></app-create-icon>
    </figure>
  </header>
  <main class="sectionFirm__body">
    <div class="img__contain">
      <figure class="icon descarga">
        <app-create-icon [class]="'color-gray bg-white button'" [name]="'download'" [url]="'../../../../assets/svg/descargar.svg'"></app-create-icon>
      </figure>
      <figure class="image">
        <img [src]="firmClient.url" alt="firma">
      </figure>
      <div class="info">
        <span>{{ firmClient.name }}</span> <br>
        <span>{{ firmClient.date | date}}</span>
      </div>
    </div>
  </main>
</section>