<section>
  <header>
    <img src="../../../../assets/svg/cancelar.svg" alt="salir">
  </header>
  <main>
    <figure><img src="../../../../assets/svg/descargar.svg" alt="descargar"></figure>
    <figure>
      <img src="https://static.vecteezy.com/system/resources/previews/000/537/800/non_2x/manual-signature-for-documents-on-white-background-hand-drawn-calligraphy-lettering-vector-illustration.jpg" alt="">
    </figure>
    <div>
      <span>fecha 00/00/00</span>
      <span>hora 00:00</span>
    </div>
  </main>
</section>