<section class="sectionPdf">
  <div class="sectionPdf__icons">
    <figure class="icon" (click)="downloadPdf()">
      <app-create-icon [class]="'color-gray bg-white button'" [name]="'download'" [url]="'../../../../assets/svg_2/descargar.svg'"></app-create-icon>
    </figure>
    <figure class="icon">
      <app-create-icon [class]="'color-gray bg-white button'" [name]="'print'" [url]="'../../../../assets/svg_2/impresora.svg'"></app-create-icon>
    </figure>
    <figure class="icon exit" (click)="emitEvent()">
      <app-create-icon [class]="'color-red bg-white'" [name]="'cancel'" [url]="'../../../../assets/svg_2/cancelar.svg'"></app-create-icon>
    </figure>
  </div>
  <div class="sectionPdf__viewpdf" id="pdf_albaran_idUser" [ngClass]="{'export': exportPdfChangeClass}">
    <section class="pdf">
      <header class="pdf__header">
        <div class="title">
          <div>
            <h1 class="name">PERSIANAS Y TOLDOS</h1>
          </div>
          <div>
            <figure class="logo"><img src="../../../../assets/images/logo-color.png" alt="Torre fiel"></figure>
          </div>
        </div>
        <div class="info">
          <div class="mb-3">
            <span><b>Persionas y Toldos Torrefiel, CB</b></span><br>
            <span>c/ Librero Esclapes, 2 Bajo dcha.</span><br>
            <span>46019- Valencia</span><br>
            <span>CIF: E97681472</span>
          </div>
          <div>
            <span>Telf.: 961337760</span><br>
            <span>963284410</span><br>
            <span>Correo electrónico: <a href="mailto:info@mejorarhogar.com">info@mejorarhogar.com</a></span>
          </div>
        </div>
      </header>
      <section class="pdf__services">
        <div class="one">
          <p class="purple">Persianas</p>
          <p>Toldos</p>
          <p class="purple">Ventanas</p>
          <p>Mosquiteras</p>
          <p class="purple">Electricidad</p>
        </div>
        <div class="two">
          <p>Mamparas de<br>baño</p>
          <p class="purple">Decoración</p>
          <p>Rejas</p>
          <p class="purple">Motorizaciones</p>
          <p>Reparaciones<br> a domicilio</p>
        </div>
      </section>
      <main class="pdf__main">
        <section class="data">
          <div class="data__contain">
            <div class="data__contain--item">
              <span><b>Fecha de emisión: </b> {{deliveryNoteData.startDate.split('T')[0]}}</span>
            </div>
            <div class="data__contain--item"><span>N° albarán:</span></div>
            <div class="data__contain--item"><span>{{ deliveryNoteData.numDeliveryNote }}</span></div>
          </div>
          <div class="data__contain">
            <div class="data__contain--item"><span><b>Cliente: </b>{{ deliveryNoteData.name }} {{ deliveryNoteData.lastName }} {{ deliveryNoteData.motherLastName }}</span></div>
            <div class="data__contain--item"><span>Teléfono 1:</span></div>
            <div class="data__contain--item"><span>{{ deliveryNoteData.phoneOne }}</span></div>
          </div>
          <div class="data__contain">
            <div class="data__contain--item"><span><b>Correo electronico: </b>{{ deliveryNoteData.email }}</span></div>
            <div class="data__contain--item"><span>Teléfono 2:</span></div>
            <div class="data__contain--item"><span>{{ deliveryNoteData.phoneTwo }}</span></div>
          </div>
          <div class="data__contain">
            <div class="data__contain--item"><span><b>Dirección trabajos: </b>{{ deliveryNoteData.direction }} #{{ deliveryNoteData.numberExternal }}</span></div>
            <div class="data__contain--item"><span>Población:  {{ deliveryNoteData.province }} <br>{{ deliveryNoteData.municipality }}</span></div>
            <div class="data__contain--item"><span>C.P. {{ deliveryNoteData.postalCode}}</span></div>
          </div>
        </section>
        <section class="info">
          <div class="title">
            <p><span>ALBARÁN</span></p>
          </div>
          <div>
            <div class="titulos-texto">
              <p class="bg-purple mb-0">
                Descripción de trabajos realizados
              </p>
            </div>
            <div class="text">
              <span style="word-break: break-all;">{{ deliveryNoteData.description }}</span>
            </div>
            <div class="titulos-texto">
              <p class="bg-purple mb-0">
                <b>Importe a facturar</b> por los trabajos realizados en esta visita
              </p>
            </div>
            <div class="importe">
              <span>{{ deliveryNoteData.amount }}€</span>
            </div>
            <div class="titulos-texto">
              <p class="bg-purple mb-0">
                Firma
              </p>
            </div>
            <div class="firma">
              <figure class="logo"><img width="300px" src="{{deliveryNoteData.signUrl}}" ></figure>
            </div>
          </div>
        </section>
      </main>
    </section>
  </div>
  <div class="div-input-email">
    <form class="form-input-email">
      <div class="div-label-input-email">
        <label for="email-albaran">Escribe correo de cliente</label>
        <input [(ngModel)]="emailPdf" [ngModelOptions]="{standalone: true}" id="email-albaran" type="email" placeholder="correo@correo.com" name="emailPdf">
      </div>
      <button (click)="sendPdfToEmail()" class="button-email-albaran" type="submit" >Envíar</button>
    </form>
  </div>
</section>
