.sectionPdf{
  height: 100%;
  width: 100% !important;

  &__icons{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin: -7px 10px;

    .icon{
      width: 31px;
      height: 33px;
      margin-bottom: 0;
      margin-right: 7px;

      &.exit{
        width: 31px;
        height: 33px;
        border-radius: 5px;
        background-color: white;
        overflow: hidden;
      }
    }
  }

  &__viewpdf{
    background-color: white;
    margin: 15px;
    height: 90%;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .pdf{
      padding: 15px;
      width: 100%;
      color: #333;
      font-size: .7rem;

      &__header{
        margin-bottom: 30px;
        font-size: .8rem;
        display: flex;
        justify-content: space-between;

        .title{
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;

          .name{
            font-size: 1rem;
            font-weight: 400;      
          }
  
          .logo{
            height: 86px;
            margin-bottom: .5rem;

            img{
              height: 100%;
              object-fit: contain;
              object-position: center;
            }
          }
        }

        .info{
          text-align: end;
          font-size: .8rem;
        }
      }

      &__services{
        margin-bottom: 27px;
        
        .one, .two{
          display: flex;
          justify-content: space-between;
        }

       
        p{
          text-align: center;
          border: 1px solid black;
          margin: 0;
          width: 20%;
          padding: 5px;
        }

        .purple{
          background-color: #7f017e;
          color: white;
        }
      }

      &__main{
        
        .data{
          margin-bottom: 20px;
          background-color: #fdff99 !important;

          &__contain{
            display: flex;

            &--item{
              background-color: #fdff99 !important;
              padding: 5px;
              color: #7f017e;

              border: 1px solid #7f017e;
              padding: 5px;

              &:nth-child(1){
                width: 60%;
              }
              &:nth-child(2), &:nth-child(3){
                width: 20%;
                text-align: center;
              }
            }
          }
        }

        .info{

          .title{
            display: flex;
            justify-content: center;          
            font-weight: bold;
            font-size: 1rem;
          }

          .bg-purple{
            background-color: #ca9afe;
            border: 1px solid #7f017e;
            padding: 2px;
          }

          .text, .importe{
            border: 1px solid #7f017e;
            padding: 2px;
            min-height: 95px;
          }

          .text{
            min-height: 190px;
          }

          .firma{
            border: 1px solid #7f017e;
            padding: 2px;
            min-height: 95px;
            text-align: center;
          }

          .titulos-texto {
            text-align: center;
          }

          .img-firma{
            width: 300px;
            display: block;
            margin: auto;
          }
        }
      }
    }
  }  
}

.div-input-email {
  width: 100%;
  background-color: rgba($color: #000000, $alpha: .8);
  height: 100px;
  margin-top: 21px;
  border-radius: 0 0 6px 6px;
}

.form-input-email {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;

  label {
    color: #ffffff;
  }
}

.div-label-input-email {
  display: flex;
  flex-direction: column;
  height: 120px;
  margin-top: 20px;
}

.button-email-albaran {
  margin-top: 15px;
  display: block;
  width: 100px;
  height: 50px;
  padding: 0 10px;
  border-radius: 10px;
  border: 0;
  background-color: #CD2A00;
  color: #ffffff;
  box-shadow: 0px 4.90723px 4.90723px rgba(0, 0, 0, 0.15);
}

#email-albaran {
  height: 50px;
  padding-left: 10px;
}

@media(max-width: 780px){
  p, span{
    font-size: .6rem;
    word-wrap: break-word;
    height: auto;
  }

  input, button{
    height: 25px !important;
  }
  
  .form-input-email{
    display: block !important;
    min-height: 150px;
    background-color: black;
    padding: 10px;
    text-align: center;
  }

  .div-label-input-email{
    height: auto !important;
  }
}



