.sectionPdf{
  height: 100%;
  width: 100%;

  &__icons{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin: -7px 10px;

    .icon{
      width: 31px;
      height: 33px;
      margin-bottom: 0;
      margin-right: 7px;

      &.exit{
        width: 23px;
        height: 23px;
        border-radius: 5px;
        background-color: white;
        overflow: hidden;
      }
    }
  }

  &__viewpdf{
    background-color: white;
    margin: 15px;
    height: 90%;
    overflow-y: auto;
    overflow-x: hidden;

    table{
      background-color: white;
      color: #333;
      font-size: .7rem;

      tbody, tr{
        display: block;
      }

      tbody{
        padding: 15px;
      }

      td{
        border: none;
        padding: 0;
      }

      .header{
        /* height: 80px; */ 
        margin-bottom: 20px;
        font-size: .8rem;
        display: flex;
        justify-content: space-between;

        td{
          width: 50%;
        }
        .logo{
          height: 100px;
          display: flex;
          align-items: center;
        }
        .info{
          text-align: end;
          font-size: .7rem;
        }
      }

      .services{
        /* height: 80px; */ 
        margin-bottom: 20px;
        tr{
          display: flex;
          justify-content: space-between;

          th{
            width: 20%;
            text-align: center;
            border: 1px solid black;
          }

          .purple{
            background-color: #7f017e;
            color: white;
          }
        }
      }

      .data{
        /* height: 80px; */ 
        margin-bottom: 20px;
        background-color: #fdff99 !important;
        table{
          tbody{
            background-color: #fdff99 !important;
            padding: 0px;
            color: #7f017e;
          }

          tr{
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;

            td{
              border: 1px solid #7f017e;
              padding: 5px;

              &:nth-child(1){
                width: 60%;
              }
              &:nth-child(2), &:nth-child(3){
                width: 20%;
                text-align: center;
              }
            }
          }

          .location{
            td{
              height: 44px;
            }
          }
        }
      }

      .info{

        table{
          tbody{
            padding: 0;

            .title{
              display: flex;
              justify-content: center;          
              font-weight: bold;
              font-size: 1rem;
            }

            .bg-purple{
              background-color: #ca9afe;
              border: 1px solid #7f017e;
              padding: 2px;
            }

            .text{
              border: 1px solid #7f017e;
              padding: 2px;
              height: 190px;

              &.sm{
                height: 95px;
              }
            }
          }
        }
      }
    }
  }
}