<section class="sectionCalendar">
  <header class="sectionCalendar__icons">
    <figure class="icon exit" (click)="emitEvent()">
      <app-create-icon [class]="'color-red'" [name]="'cancel'" [url]="'../../../../assets/svg_2/cancelar.svg'"></app-create-icon>
    </figure>
  </header>
  <main class="sectionCalendar__body">
    <form>
      <div class="input__contain dateContain">
        <label for="" class="w-50">Fecha</label>
        <input class="w-100" type="date" name="date" (change)="dateChange()" [(ngModel)]="newService.startDate" placeholder="00/00/0000" required>
      </div>
      <div class="input__contain">
        <label for="">Hora</label>
        <input type="time" placeholder="00:00" name="hour" [(ngModel)]="newService.startHours" required>
      </div>
      <div class="addEmployee">
        <div class="input__contain">
          <label for=""><b>Asigna el trabajo</b></label>
          <select class="w-100" name="workers" [(ngModel)]="newService.workers" *ngIf="allUsers">
            <option value="">Busca tu trabajador</option>
            <option *ngFor="let option of allUsers"  [value]="option._id">{{option.name}}</option>
          </select>  
          <p *ngIf="!allUsers" class="no-exist"><b>No existen trabajadores</b></p>
        </div>
      </div>
      <div ngFor="service.workers" class="addEmployee">
        <div class="input__contain">
          <label for=""><b>Asigna el trabajo</b></label>
          <select class="w-100" name="workers" [(ngModel)]="newService.workers" *ngIf="allUsers">
            <option value="">Busca tu trabajador</option>
            <option *ngFor="let option of allUsers"  [value]="option._id">{{option.name}}</option>
          </select>  
          <p *ngIf="!allUsers" class="no-exist"><b>No existen trabajadores</b></p>
        </div>
      </div>
      <div class="buttons w-50 d-flex align-items-center">
        <button  class="buttonSave" (click)="scheduleService()">
          Agendar <br>
        </button>
      </div>
    </form>
  </main>
</section>