<section class="sectionCalendar">
  <header class="sectionCalendar__icons">
    <figure class="icon exit" (click)="emitEvent()">
      <app-create-icon [class]="'color-red'" [name]="'cancel'" [url]="'../../../../assets/svg_2/cancelar.svg'"></app-create-icon>
    </figure>
  </header>
  <main class="sectionCalendar__body">
    <form>
      <div class="input__contain dateContain">
        <label for="" class="w-50">Fecha</label>
        <input class="w-100" type="date" name="date" (change)="dateChange()" [(ngModel)]="newService.startDate" placeholder="00/00/0000" required>
      </div>
      <div class="input__contain">
        <label for="">Hora</label>
        <input type="time" placeholder="00:00" name="hour" [(ngModel)]="newService.startHours" required>
      </div>
      <div>
        <p>Asignar trabajador(es)</p>
      </div>
      <div class="addEmployee">
        <div class="div-checkboxes" *ngFor="let user of allUsers" [ngStyle]="{'color': user.color}">
          <input [checked]="user._id" type="checkbox" id="{{ user._id }}">
          <label for="{{ user._id }}"><strong>{{ user.name }}</strong></label>
        </div>
      </div>
      <div class="buttons w-50 d-flex align-items-center">
        <button class="buttonSave" (click)="scheduleService()">
          Agendar <br>
        </button>
      </div>
    </form>
  </main>
</section>