<section class="sectionCalendar">
  <header class="sectionCalendar__icons">
    <figure class="icon exit" (click)="emitEvent()">
      <app-create-icon [class]="'color-red'" [name]="'cancel'" [url]="'../../../../assets/svg_2/cancelar.svg'"></app-create-icon>
    </figure>
  </header>
  <main class="sectionCalendar__body">
    <form [formGroup]="form" (ngSubmit)="scheduleService()">
      <div class="input__contain dateContain">
        <label for="" class="w-50">Fecha</label>
        <!--input class="w-100" type="date" name="date" (change)="dateChange()" [(ngModel)]="newService.startDate" placeholder="00/00/0000" required-->
        <input class="w-100" formControlName="dateService" type="date" name="date" (change)="dateChange()" placeholder="00/00/0000" required>
      </div>
      <div class="input__contain">
        <label for="">Hora</label>
        <!--input type="time" placeholder="00:00" name="hour" [(ngModel)]="newService.startHours" required-->
        <input type="time" placeholder="00:00" name="hour" required>
      </div>
      <div>
        <p>Asignar trabajador(es)</p>
      </div>
      <div class="addEmployee">
        <div class="div-checkboxes" formArrayName="usersAssigned" *ngFor="let user of usersFormArray.controls; let i = index" [ngStyle]="{'color': allUsers[i].color}">
          <input [formControlName]="i" type="checkbox" id="{{ allUsers[i]._id }}">
          <label for="{{ allUsers[i]._id }}"><strong>{{ allUsers[i].name }}</strong></label>
        </div>
      </div>
      <div class="buttons w-50 d-flex align-items-center">
        <button class="buttonSave" type="submit">
          Agendar <br>
        </button>
      </div>
    </form>
    <input type="checkbox" [checked]="true">
  </main>
</section>