<section>
  <header>
    <figure><img src="../../../../assets/images/logo-blanco.png" alt="torrefiel"></figure>
    <figure><img src="../../../../assets/svg/cancelar.svg" alt=""></figure>
  </header>
  <main>
    <div>
      <div class="inputs">
        <div class="input__contain">
          <label for="">Nombre(s)</label>
          <input type="text" placeholder="Nombre(s)">
        </div>
        <div class="input__contain">
          <label for="">Apellido Paterno</label>
          <input type="text" placeholder="Apellido paterno">
        </div>
      </div>
    </div>
    <div>
      <div class="inputs">
        <div class="input__contain">
          <label for="">Apellido Materno</label>
          <input type="text" placeholder="Apellido materno">
        </div>
        <div class="input__contain">
          <label for="">Tu nickname</label>
          <input type="text" placeholder="Nickname">
        </div>
      </div>
    </div>
    <div>
      <div class="inputs">
        <div class="input__contain">
          <label for="">Móvil</label>
          <input type="text" placeholder="Móvil">
        </div>
        <div class="input__contain">
          <label for="">Email</label>
          <input type="text" placeholder="correo@correo.com">
        </div>
      </div>
    </div>
    <footer>
      <button>Eliminar Administrador</button>
      <button>Actualizar</button>
    </footer>
  </main>
</section>