.alert__contain{
  background-color: white;
  border-radius: 11px;
  padding: 10px;
  width: 85%;
  margin: auto;
  box-shadow: 0 2px 5px 4px #00000061;
  max-width: 350px;

  &--header{
    display: flex;
    justify-content: center;
    align-items: center;

    figure{
      margin-bottom: 0;
      margin-right: 7px;
      width: 40px;
      height: 40px;
    }

    span{
      font-size: 1.05rem;
      color: #cd2a00;
      font-weight: 500;
    }
  }

  &--body{
    text-align: center;
    width: 90%;
    margin: auto;
    margin-top: 5px;

    p{
      margin-bottom: 0;
    }
  }
}