<section>
  <div>
    <app-clients></app-clients>
  </div>
  <div>
    <app-users></app-users>
  </div>
  <div>
    <div>
      <img src="../../../../assets/svg/perfil.svg" alt="icon perfil">
      <span>Tu perfil</span>
    </div>
    <div>
      <h2>Data</h2>
      <img src="../../../../assets/svg/grafica.svg" alt="">
    </div>
    <div>
      <h2>Resumen<br>mensual</h2>
      <img src="../../../../assets/svg/albaran.svg" alt="">
      <img src="../../../../assets/svg/factura.svg" alt="">
    </div>
  </div>
</section>