<section class="sectionAdmin">
  <div class="sectionAdmin__clients">
    <app-clients (closeWindow)="closeView($event)"></app-clients>
  </div>
  <div class="sectionAdmin__users">
    <app-users (closeWindow)="closeView($event)"></app-users>
  </div>
  <div class="sectionAdmin__data">
    <!-- <div class="containProfile">
      <div class="title" (click)="showView(PROFILE)">
        <figure class="icon">
          <app-create-icon [class]="'color-gray'" [name]="'profile'" [url]="'../../../../assets/svg_2/perfil.svg'"></app-create-icon>
        </figure>
        <span>Tu Perfil</span>
      </div>
    </div> -->
    <div class="data" (click)="showView(DATA)">
      <h2>Data</h2>
      <figure class="icon">
        <app-create-icon [class]="'color-white'" [name]="'graphic'" [url]="'../../../../assets/svg_2/grafica.svg'"></app-create-icon>
      </figure>
    </div>
    <div class="summary" >
      <h2>Resumen Facturas<br>y Albaranes</h2>
      <figure class="icon" (click)="showView(SUMMARY)">
        <app-create-icon  [name]="'mes'" [url]="'../../../../assets/svg_2/mes.svg'"></app-create-icon>
        <span class="hoverIcon fadeIn">Por Mes</span> 
      </figure>
      
      <figure class="icon" (click)="showView(YEAR)"> 
        <app-create-icon  [name]="'año'" [url]="'../../../../assets/svg_2/año.svg'"></app-create-icon>
        <span class="hoverIcon fadeIn">Por Año</span> 
      </figure>
    </div>
  </div>

  <div class="clickSection" *ngIf="view">
    <app-profile *ngIf="view === PROFILE" (closeWindow)="closeView($event)"></app-profile>
    <app-data *ngIf="view === DATA" (closeWindow)="closeView($event)"></app-data>
    <app-summary *ngIf="view === SUMMARY" class="w-100" (closeWindow)="closeView($event)"></app-summary>
    <app-year *ngIf="view === YEAR" class="w-100" (closeWindow)="closeView($event)"></app-year>
  </div>
</section>