@import '../variables';

%boxShadow{
  box-shadow: 0 2px 4px 1px #00000082;
}

%btn-black{
  width: 80%;
  margin: auto;
  margin-top: 24px;
  margin-bottom: 20px;
  button{
    width: 100%;
    padding: 14px 10px;
    background-color: black;
    color: white;
    border: none;
    border-radius: $size-border-radius-secondary;
    @extend %boxShadow;
  }
}

%section-red{
  .section__red{
    background-color: $color-red;
    padding: 20px;
    width: 380px;
    margin: auto;
    border-radius: $size-border-radius;
    position: relative;

      &--logo{
        margin-bottom: 15px;
        figure{
          text-align: center;
          padding: 15px;
        }
      }

      &--inputs{
        .contain-input{
          display: flex;
          flex-wrap: wrap;
          width: 80%;
          margin: auto;
          margin-bottom: 20px;
          position: relative;

          &.mb-0{
            margin-bottom: 0;
          }

          label, input{
            width: 100%;
          }

          label{
            margin-bottom: 6px;
          }

          input{
            padding: 12px;
            border-radius: $size-border-radius-secondary;
            border: 1px solid #989696;
            margin-bottom: 5px;
          }

          .error-input{
            position: absolute;
            bottom: -13px;
            left: 12px;
            font-weight: bold;
          }
        }
      }

      &--resetPass{
        width: 74%;
        margin: auto;

        a{
          text-decoration: none !important;
          color: white !important;
          font-size: .9rem;
        }
      }

      &--enter{
        @extend %btn-black;
      }
  }
}

%eye{
  position: absolute;
  right: 12px;
  bottom: 13px;
  margin: 0;
  cursor: pointer;

  &.active{
    filter: invert(0.8);
  }
}