@import '../../../../assets/scss/components/chat';

.sectionNote{

  &__header{
    display: flex;
    justify-content: center;
    align-items: center;

    h3{
      font-size: 1rem;
      color: white;
    }

    .icon{
      width: 31px;
      height: 33px;
      margin-bottom: 0;
      margin-right: 7px;

      &.exit{
        width: 25px;
        height: 25px;
        display: flex;
        align-items: center;
        position: absolute;
        top: .3rem;
        right: .3rem;
      }
    }
  }

  /* &__main{
    background-color: white;
    height: 230px;
    padding: 5px;
    font-size: 0.7rem !important;
    overflow: auto;

    .date{
      margin-bottom: 12px;
      .chat__date{
        background-color: #f2f2f2;
        color: #c5c5c5;
        font-size: .8rem;
        padding: 3px 5px;
        border-radius: 7px;
      }
    }

    .chat__me{
      font-size: .9rem;
      margin: 7px 5px;
      display: flex;
      justify-content: flex-end;
      color: white;

      .burbuja{
        width: 75%;
        display: flex;
        justify-content: flex-end;
        padding: 7px 13px;
        background-color: #cd2a00;
        color: white;
        border-radius: 25px;
        border-bottom-right-radius: 0;
        box-shadow: 0 2px 5px 1px #00000038;
      }
    }

    .chat__other{
      font-size: .9rem;
      margin: 17px 5px;
      color: white;
      display: flex;
      align-items: center;

      .avatar{
        width: 40px;
        height: 40px;
        margin: 0;
        margin-right: 5px;
      }

      .burbuja{
        width: 75%;
        display: flex;
        justify-content: flex-start;
        padding: 7px 13px;
        background-color: white;
        color: #333;
        border-radius: 25px;
        box-shadow: 0 2px 5px 1px #00000038;
      }
      
    }
  } */

  &__main{
    @extend %chatSection;
    height: 230px;
  }

  &__footer{
    height: 40px;

    .input{
      display: flex;
      justify-content: center;
      align-items: center;
      height: inherit;

      label{
        position: relative;
        margin: 0;
      }

      input{
        border: none;
        border-radius: 15px;
        padding: 4px 12px;
        font-size: .8rem;
        width: 300px;
        outline: none !important;
      }

      figure{
        width: 24px;
        height: 26px;
        border-radius: 15px;
        background-color: white;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 1px;
        right: 5px;
        margin: 0;
      }
    }
    
  }
}

@media (max-width: 1240px){
  .sectionNote{
    &__footer{
    
      .input{
        
        input{
          width: 250px;
        }
      }
    }
  }
}

@media (max-width: 990px){
  .sectionNote{
    &__footer{
    
      .input{
        
        input{
          width: 220px;
        }
      }
    }
  }
}

@media (max-width: 900px){
  .sectionNote{
    &__footer{
    
      .input{
        
        input{
          width: 200px;
        }
      }
    }
  }
}

@media (max-width: 780px){
  .sectionNote{
    &__footer{
     background: black;
      .input{
        
        input{
          width: 250px;
        }
      }
    }
  }
}

@media (max-width: 660px){
  .sectionNote{
    &__footer{
      .input{ 
        input{
          width: 220px;
        }
      }
    }
  }
}

@media (max-width: 600px){
  .sectionNote{
    &__footer{
      .input{ 
        input{
          width: 190px;
        }
      }
    }
  }
}

@media (max-width: 480px){
  .sectionNote{
    &__footer{
      .input{ 
        input{
          width: 170px;
        }
      }
    }
  }
}