<section class="sectionNote">
  <header class="sectionNote__header">
    <h3>Nota interna</h3>
    <figure class="icon exit">
      <app-create-icon [class]="'color-red'" [name]="'cancel'" [url]="'../../../../assets/svg/cancelar.svg'"></app-create-icon>
    </figure>
  </header>
  <main class="sectionNote__main">
    <div class="text-center date">
      <span class="chat__date">MIER - 14:48PM</span>
    </div>
    <div [ngClass]="itemMessage.person === 'admin' ? 'chat__other':'chat__me'" *ngFor="let itemMessage of allMessages">
      <figure class="avatar" *ngIf="itemMessage.person === 'admin'">
        <app-create-icon [class]="'color-gray'" [name]="'avatar'" [url]="itemMessage.avatar"></app-create-icon>
      </figure>
      <div class="burbuja">
        <span>{{itemMessage.message}}</span>
      </div>
    </div>
  </main>
  <footer class="sectionNote__footer">
    <div class="input">
      <label for="">
        <input type="text" placeholder="Mensaje" name="newMessageMe" #newMessageMe="ngModel" [(ngModel)]="newMessage" (keyup.enter)="sendMessage()">
        <figure class="icon">
          <app-create-icon [class]="'color-gray'" [name]="'chat'" [url]="'../../../../assets/svg/comentar.svg'"></app-create-icon>
        </figure>
      </label>
    </div>
  </footer>
</section>