<section>
  <header>
    <h3>Nota interna</h3>
    <figure><img src="../../../../assets/svg/cancelar.svg" alt="salir"></figure>
  </header>
  <main class="chat">
    <span class="chat__date">MIER - 14:48PM</span>
    <div class="chat__you">
      <span>La cliente es algo especial, cuidado...</span>
    </div>
    <div class="chat__you">
      <span>siempre hemos tenido problemas.</span>
    </div>
    <!-- <div class="chat__other">
      <img src="" alt="">
      <span></span>
    </div> -->
  </main>
  <footer>
    <div>
      <input type="text" placeholder="Mensaje">
      <figure><img src="../../../../assets/svg/comentar.svg" alt="chat"></figure>
    </div>
  </footer>
</section>