@import 'src/assets/scss/variables';

.overflow-auto::-webkit-scrollbar {
  -webkit-appearance: none;
}

.overflow-auto::-webkit-scrollbar:vertical {
  width: 15px;
}

.overflow-auto::-webkit-scrollbar-button:increment,.overflow-auto::-webkit-scrollbar-button {
  display: none;
  border-radius: 10px;
} 


.overflow-auto::-webkit-scrollbar-thumb {
  background-color: #f3eded;
  border-radius: 20px;
  height: 15px;
  border: 2px solid #f1f2f3;
}

.overflow-auto::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px white; 
  border-radius: 10px;  
}

.overflow-auto::-webkit-scrollbar-thumb:hover {
  border: transparent;
}

.overflow-auto::-webkit-scrollbar-corner{
  visibility: hidden;
  border-radius: 10px;
}

.app-top {
  margin: 0 0 3em;
}

.w-90{
  min-width: 95%;
}

.app-calendar {
  margin: 0 auto;
  max-width: 900px;
}

.app{
  padding: 20px;
  max-height: 400px;
  overflow-y: auto;
}

.fc-button-primary{
  background-color: $color-red !important;
  border-color: $color-red !important;
}
.fc-icon{
  font-size: 1rem;
}

.show__event{
  background-color: #cc2900;
  color: white;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 9;
  width: 350px;
  height: 250px;
  padding: 10px;
  border-radius: 6.5px;
  box-shadow: 0 2px 15px 1px #00000085;
  display: flex;
  align-items: center;
}

.fc-content{
  cursor: pointer;

}

.icon{
  margin: -20px 35px 0px 10px;
  display: flex;
  justify-content: flex-end;
  padding-bottom: 2px;
  position: relative;
  right: -89%;

  &.exit{
    width: 18px;
    height: 18px;
    border-radius: 5px;
    background-color: white;
    align-items: center;
  }
}

.fc-content {
  white-space: normal;
}

.texto{
  margin: 0px !important;
  max-width: 90%;
  word-break: break-word;
}

.Notificacion{
  margin-bottom: 10px !important;
}

.fecha{
  color: #c5c5c5;
}

@media(max-width:780px){

  p{
    font-size: .8rem;
  }
  .fecha{
    font-size: .8rem;
  }
}

