<section class="containService">
  <app-alert class="alertCenter" [alertUrlIcon]="alertUrlIcon" [alertShow]="alertShow" [alertHeader]="alertHeader" [alertTitle]="alertTitle" [alertSubtitle]="alertSubtitle"></app-alert>
  
  <!-- client -->
  <form class="p-3" *ngIf="viewActual === USER">
    <div class="containService__data">
      <div class="whenService d-flex justify-content-between pb-2">
        <div class="client">
          <div class="input__contain mr-4">
            <label for="">N° cliente registrado</label>
            <select class="w-100" name="searchNameClient" [(ngModel)]="searchNameClient" *ngIf="allClients">
              <option value="">Buscalo</option>
              <option *ngFor="let option of allClients" (click)="searchClient(option)" [value]="option.numClient">{{option.numClient}}</option>
            </select>  
            <p *ngIf="!allClients" class="no-exist"><b>No existen Clientes</b></p>  
          </div>
          <div class="input__contain">
            <label for="">N° cliente nuevo</label>
            <input class="w-75" type="text" pattern="^[0-9]*$" placeholder="Registralo" name="nameUser" #nameUser="ngModel" [(ngModel)]="newClient.numClient">
          </div>
        </div>
      </div>
      <div class="dataService d-flex justify-content-between pt-4 pb-2">
        <div class="input__contain name">
          <label for="">Nombre(s)</label>
          <input type="text" placeholder="Nombre" name="names" [(ngModel)]="newClient.name" required>
        </div>
        <div class="input__contain">
          <label for="">Apellido Paterno</label>
          <input type="text" placeholder="Apellido Paterno" name="lastname" [(ngModel)]="newClient.lastName" required>
        </div>
        <div class="input__contain">
          <label for="">Apellido Materno</label>
          <input type="text" placeholder="Apellido Materno" name="lastnameMother" [(ngModel)]="newClient.motherLastName" required>
        </div>
        <div class="input__contain name">
          <label for="">Nombre empresa</label>
          <input type="text" placeholder="Nombre" name="nameCompany" [(ngModel)]="newClient.nameCompany" required>
        </div>
      </div>
      <div class="dataService d-flex justify-content-between pt-4 pb-2">
        <div class="input__contain name">
          <label for="">NIF</label>
          <input type="text" placeholder="A0000000" name="nif" [(ngModel)]="newClient.nif" required>
        </div>
        <div class="input__contain">
          <label for="">Correo Electrónico</label>
          <input type="email" pattern="[\w0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" placeholder="correo@correo.com" name="email" [(ngModel)]="newClient.email" required>
        </div>
        <div class="input__contain">
          <label for="">Teléfono 1</label>
          <input type="text" minlength="7" pattern="^[0-9]*$" placeholder="000 000 000" name="numberOne" [(ngModel)]="newClient.phoneOne" required>
        </div>
        <div class="input__contain">
          <label for="">Teléfono 2</label>
          <input type="text" minlength="7" pattern="^[0-9]*$" placeholder="000 000 000" name="numberTwo" [(ngModel)]="newClient.phoneTwo" required>
        </div>
      </div>
      <div class="direccion">
        <h3 class="title">DIRECCIÓN (De quien contrata el servicio)</h3>
        <div class="direccion__contain">
          <div class="d-flex justify-content-between align-items-center flex-wrap">
            <div class="input__contain">
              <label for="">Dirección</label>
              <input type="text" class="w-200" placeholder="Dirección" name="localitation" [(ngModel)]="newClient.direction" required>
            </div>
            <div class="input__contain">
              <label for="">Número externo</label>
              <input type="text" class="max-width-95" placeholder="00" name="numExt" [(ngModel)]="newClient.numberExternal" required>
            </div>
            <div class="input__contain">
              <label for="">Número interno</label>
              <input type="text" class="max-width-95" placeholder="00" name="numInt" [(ngModel)]="newClient.numberInternal" required>
            </div>
            <div class="input__contain">
              <label for="">Provincia</label>
              <select class="w-200" name="province" [(ngModel)]="newClient.province" required>
                <option value="">Selecciona Provincia</option>
                <option *ngFor="let option of optionsProvince"  [value]="option">{{option}}</option>
              </select>
            </div>
          </div>
          <div class="d-flex align-items-center flex-wrap pt-4">
            <div class="input__contain mr-12">
              <label for="">Municipio</label>
              <select class="w-100" name="municipality" [(ngModel)]="newClient.municipality">
                <option value="">Selecciona Municipio</option>
                <option *ngFor="let option of optionsMunicipality" [value]="option">{{option}}</option>
              </select>
            </div>
            <div class="input__contain code">
              <label for="">Código postal</label>
              <input class="w-100" type="text" placeholder="Código postal" name="postalcode" [(ngModel)]="newClient.postalcode" required>
            </div>
          </div>
        </div>
      </div>
    </div>
    <aside class="containService__aside">
      <div>
        <div class="buttons d-flex justify-content-center align-items-center">
          <button  class="buttonSave" (click)="updateView(SERVICEDIRECTION)">
            Siguiente
          </button>
        </div>
        <div class="d-flex justify-content-center align-items-center flex-wrap">
          <figure class="icon" [ngClass]="useDirectionEqual ? 'color-white' : 'color-gray'">
            <app-create-icon [class]="'color-gray'"  [name]="'select'" [url]="'../../../assets/svg/select.svg'"></app-create-icon>
          </figure>
          <span (click)="useDirectionEqual = !useDirectionEqual" class="spanDirectionEqual">¿El cliente que registras recibirá el servicio?</span>
        </div>
      </div>
    </aside>
  </form>

  <!-- service -->
  <div class="d-flex justify-content-center align-items-center flex-wrap w-100 p-5" *ngIf="viewActual === SERVICEDIRECTION">
    <div class="containService__data direccion">
      <h3 class="title">DIRECCIÓN (De quien recibe el servicio)</h3>
      <div class="direccion__contain">
        <div class="d-flex justify-content-between align-items-center flex-wrap">
          <div class="input__contain">
            <label for="">Dirección</label>
            <input type="text" class="w-200" placeholder="Dirección" name="directionService" [(ngModel)]="newService.direction" required>
          </div>
          <div class="input__contain">
            <label for="">Número externo</label>
            <input type="text" placeholder="00" class="max-width-95" name="numExtService" [(ngModel)]="newService.numberExternal" required>
          </div>
          <div class="input__contain">
            <label for="">Número interno</label>
            <input type="text" placeholder="00" class="max-width-95" name="numIntService" [(ngModel)]="newService.numberInternal" required>
          </div>
          <div class="input__contain">
            <label for="">Provincia</label>
            <select class="w-200" name="provinceService" [(ngModel)]="newService.province" required>
              <option value="">Selecciona Provincia</option>
              <option *ngFor="let option of optionsProvince"  [value]="option">{{option}}</option>
            </select>
          </div>
        </div>
        <div class="d-flex align-items-center flex-wrap pt-4">
          <div class="input__contain mr-12">
            <label for="">Municipio</label>
            <select class="w-100" name="municipalityService" [(ngModel)]="newService.municipality">
              <option value="">Selecciona Municipio</option>
              <option *ngFor="let option of optionsMunicipality" [value]="option">{{option}}</option>
            </select>
          </div>
          <div class="input__contain code">
            <label for="">Código postal</label>
            <input class="w-100" type="text" placeholder="Código postal" name="postalcodeService" [(ngModel)]="newService.postalcode" required>
          </div>
        </div>
      </div>
    </div>
    <div class="containService__aside flex-column">
      <div class="buttons w-50 d-flex align-items-center">
        <button  class="buttonSave" (click)="viewActual = SERVICE">
          Siguiente
        </button>
      </div>
      <div class="buttons w-50 d-flex align-items-center">
        <button  class="buttonBefore" (click)="viewActual = USER">
          Atras
        </button>
      </div>
    </div>
  </div>
  <form class="p-3" *ngIf="viewActual === SERVICE">
    <div class="containService__data pt-6x100">
      <div>
        <h3 class="title">DATOS DEL SERVICIO</h3>
      </div>
      <div class="d-flex justify-content-between flex-wrap mt-4">
        <div class="d-flex justify-content-between align-items-center flex-wrap w-100">
          <div class="input__contain dateContain">
            <label for="" class="w-50">N° de Servicio</label>
            <input class="w-100" type="text" placeholder="000000" name="numDeliveryNote" [(ngModel)]="newService.numService" required>
          </div>
          <div class="input__contain dateContain">
            <label for="" class="w-50">N° de Factura</label>
            <input class="w-100" type="text" placeholder="000000" name="numBill" [(ngModel)]="newService.numBill" required>
          </div>
          <div class="input__contain dateContain">
            <label for="" class="w-50">Fecha</label>
            <input class="w-100" type="date" name="date" [(ngModel)]="newService.startDate" placeholder="00/00/0000" required>
          </div>
          <div class="input__contain">
            <label for="">Hora</label>
            <input type="time" placeholder="00:00" name="hour" [(ngModel)]="newService.startHours" required>
          </div>
          <div class="input__contain">
            <label for="" class="color-red">Urgente</label>
            <select class="border-red" name="priority" [(ngModel)]="newService.priority" required>
              <option value="true">SI</option>
              <option value="false">NO</option>
            </select>
          </div>
        </div>
        <div class="statusService d-flex justify-content-between flex-wrap w-100 pt-4">
          <div class="input__contain">
            <label for="">Importe</label>
            <input type="text" pattern="^[0-9]*$" placeholder="0000 €" name="amount" [(ngModel)]="newService.amount" required>
          </div>
          <div class="input__contain">
            <label for="">Tipo IVA</label>
            <select class="w-100" name="status" [(ngModel)]="newService.typeIva" required>
              <option value="10">Reducido</option>
              <option value="21">Normal</option>
            </select>
          </div>
          <div class="input__contain">
            <label for="">Estado</label>
            <select class="w-100" name="status" [(ngModel)]="newService.status" required>
              <option value="">Selecciona un estado</option>
              <option *ngFor="let option of optionsStatus" [value]="option">{{option}}</option>
            </select>
          </div>
          <div class="input__contain">
            <label for="">Actividad</label>
            <select class="w-100" name="activities" [(ngModel)]="newService.activities" required>
              <option value="">Selecciona una o varias</option>
              <option *ngFor="let option of optionsActivities" [value]="option">{{option}}</option>
            </select>
          </div>
        </div>
        <div class="descriptionService w-100 d-flex justify-content-center pt-3">
          <div class="input__contain w-75 mr-5">
            <label for="">Descripción</label>
            <textarea class="w-100 h-85" name="description" [(ngModel)]="newService.description" cols="30" rows="10" placeholder="Descripción del trabajo sin Nota interna" required></textarea>
          </div>
          <div class="input__contain">
            <label for="">Incluye <b>Nota interna</b></label>
            <textarea class="w-100 h-85" name="note" [(ngModel)]="newService.note" cols="30" rows="10" placeholder="escribe una breve nota interna"></textarea>
          </div>
        </div>
      </div>
    </div>
    <aside class="containService__aside saveService flex-column">
      <div class="addEmployee">
        <div class="input__contain">
          <label for=""><b>Asigna el trabajo</b></label>
          <select class="w-100" name="workers" [(ngModel)]="newService.workers" *ngIf="allUsers">
            <option value="">Busca tu trabajador</option>
            <option *ngFor="let option of allUsers"  [value]="option._id">{{option.name}}</option>
          </select>  
          <p *ngIf="!allUsers" class="no-exist"><b>No existen trabajadores</b></p>
        </div>
      </div>
      <div class="mt-3">
        <div class="buttons d-flex align-items-center flex-wrap">
          <button  class="buttonSave" (click)="createServiceAndSendPDF()">
            Guardar y Enviar al cliente<br>
            (en PDF)
          </button>
        </div>
        <div class="buttons w-50 d-flex align-items-center">
          <button  class="buttonSave" (click)="createClientAndService()">
            Guardar y Agendar <br>
            <figure class="icon">
              <app-create-icon [class]="'color-gray bg-white button p-2x'" [name]="'calendar'" [url]="'../../../assets/svg/calendario.svg'"></app-create-icon>
            </figure>
          </button>
        </div>
        <div class="buttons w-50 d-flex align-items-center">
          <button class="buttonBefore" (click)="viewActual = SERVICEDIRECTION">
            Atras
          </button>
        </div>
      </div>
    </aside>
  </form>
</section>