<section class="containService">
  <app-alert class="alertCenter" [alertUrlIcon]="alertUrlIcon" [alertShow]="alertShow" [alertHeader]="alertHeader" [alertTitle]="alertTitle" [alertSubtitle]="alertSubtitle"></app-alert>
  <div class="containService__data">
    <div class="whenService d-flex justify-content-between">
      <div class="client">
        <div class="input__contain">
          <label for="">N° cliente nuevo</label>
          <input class="w-75" type="text" placeholder="Registralo">
        </div>
        <div class="input__contain">
          <label for="">N° cliente registrado</label>
          <select class="w-100" name="" id="">
            <option value="">Buscalo</option>
          </select>
        </div>
      </div>
      <div class="date justify-content-between">
        <div class="input__contain dateContain">
          <label for="" class="w-50">Fecha</label>
          <input class="w-100" type="date" placeholder="00/00/0000">
        </div>
        <div class="input__contain w-25">
          <label for="">Hora</label>
          <input type="time" placeholder="00:00">
        </div>
        <div class="input__contain w-25">
          <label for="" class="color-red">Urgente</label>
          <select class="w-90 border-red" name="" id="">
            <option value="">SI</option>
            <option value="">NO</option>
          </select>
        </div>
      </div>
    </div>
    <div class="dataService d-flex justify-content-between pt-4">
      <div class="input__contain name">
        <label for="">Nombre(s)</label>
        <input type="text" placeholder="Nombre">
      </div>
      <div class="input__contain">
        <label for="">Apellidos</label>
        <input type="text" placeholder="Apellidos">
      </div>
      <div class="input__contain">
        <label for="">Provincia</label>
        <select class="w-95" name="" id="">
          <option value="">Selecciona Provincia</option>
          <option value="">NO</option>
        </select>
      </div>
      <div class="input__contain">
        <label for="">Municipio</label>
        <select class="w-100" name="" id="">
          <option value="">Selecciona Municipio</option>
          <option value="">NO</option>
        </select>
      </div>
    </div>
    <div class="infoService d-flex justify-content-between pt-3">
      <div class="input__contain">
        <label for="">Teléfono</label>
        <input type="text" placeholder="000 000 000">
      </div>
      <div class="input__contain">
        <label for="">Correo Electrónico</label>
        <input type="email" placeholder="correo@correo.com">
      </div>
      <div class="input__contain">
        <label for="">Importe</label>
        <input type="text" placeholder="0000 €">
      </div>
      <div class="input__contain code">
        <label for="">Código postal</label>
        <input class="w-100" type="text" placeholder="Código postal">
      </div>
    </div>
    <div class="d-flex justify-content-between">
      <div class="statusService d-flex justify-content-between flex-wrap pt-4 mr-3">
        <div class="input__contain">
          <label for="">Estado</label>
          <select class="w-100" name="" id="">
            <option value="">Selecciona un Estado</option>
            <option value="">NO</option>
          </select>
        </div>
        <div class="input__contain">
          <label for="">Actividad</label>
          <select class="w-100" name="" id="">
            <option value="">Selecciona una o varias</option>
            <option value="">NO</option>
          </select>
        </div>
        <div class="input__contain w-100 mt-2">
          <label for="">Descripción</label>
          <textarea class="w-100 h-85" name="" id="" cols="30" rows="10" placeholder="Descripción del trabajo sin Nota interna"></textarea>
        </div>
      </div>
      <div class="descriptionService w-25 d-flex justify-content-center pt-3">
        <div class="input__contain">
          <label for="">Incluye <b>Nota interna</b></label>
          <textarea class="w-100 h-85" name="" id="" cols="30" rows="10" placeholder="escribe una breve nota interna"></textarea>
        </div>
      </div>
    </div>
  </div>
  <div class="containService__assets">
    <div>
      <div class="input__contain albaran">
        <h4>Previsualizar <b>Albarán</b></h4>
        <div class="d-flex align-items-center">
          <label class="label" for="albaran">
            <input class="d-none" type="file" name="albaran">
            <figure><img src="../../../assets/svg/add.svg" alt=""></figure>
          </label>
          <span><b>archivo adjunto</b></span>
        </div>
        <p class="tmn-max">Tamaño máximo 50MB</p>
      </div>
      <div class="input__contain factura">
        <h4>Previsualizar <b>Factura</b></h4>
        <div>
          <label class="label" for="factura">
            <input class="d-none" type="file" name="factura">
            <figure><img src="../../../assets/svg/add.svg" alt=""></figure>
          </label>
          <span><b>archivo adjunto</b></span>
        </div>
        <p class="tmn-max">Tamaño máximo 50MB</p>
      </div>
    </div>
    <div class="addEmployee">
      <div class="input__contain">
        <label for=""><b>Asigna el trabajo</b></label>
        <select name="" id="">
          <option value="">Busca tu trabajador</option>
          <option value="">NO</option>
        </select>
      </div>
    </div>
    <div class="saveService d-flex justify-content-center align-items-center">
      <button  class="buttonSave">
        Guardar y crear Calendario
        <figure class="icon">
          <app-create-icon [class]="'color-gray bg-white button p-2x'" [name]="'calendar'" [url]="'../../../assets/svg/calendario.svg'"></app-create-icon>
        </figure>
      </button>
    </div>
  </div>
</section>