@import '../../../assets/scss/variables';

.containService{
  height: 465px;
  background-color: $color-white;
  display: flex;
  border-radius: 16px;
  position: relative;

  &__data{
    width: 70%;
    padding: 26px 20px;
    padding-left: 40px;

    .client, .date{
      display: flex;
    }

    .color-red{
      color: red;
    }
    .border-red{
      border-color: red;
    }

    .date{
      width: 53%;
      .dateContain{
        width: 36%;
        margin-right: 10px;
      }
      .icon{
        width: 40px;
        height: 40px;
        position: absolute;
        bottom: 0;
        margin: 0;
        right: 3px;
      }
    }

    .client{
      justify-content: space-between;
    }

    label{
      margin-bottom: 3px;
      display: block;
    }

    input, select, textarea{
      height: 39px;
      border-radius: 5px;
      border: 1px solid black;
      padding: 5px 10px;
      padding-right: 0;
    }

    .input__contain{
      font-size: .8rem;
      width: auto;
      position: relative;
    }

    .name{
      max-width: 19%;
      margin-right: 20px;

      input{
        width: 100%;
      }
    }

    .code{
      width: 18%;
    }
  }

  &__assets{
    width: 30%;
    padding: 26px 20px;

    .albaran, .factura{
      font-size: .9rem;
      height: 135px;
      padding: 10px;

      h4, .input__contain{
        font-size: .9rem;
      }
      .input__contain{
        padding: 10px;
      }
  
      .label{
        margin: 0;
        height: 65px;
  
        figure{
          width: 130px;
          margin: 0;
        }
      }
    }

    .tmn-max{
      font-size: .7rem;
      padding-left: 14%;
    }

    .addEmployee{
      padding: 20px;
      font-size: .9rem;

      .input__contain{
        display: flex;
        flex-wrap: wrap;
        font-size: .8rem;
        width: inherit;
        position: relative;
      }

      select{
        height: 45px;
        border-radius: 5px;
        border: 1px solid black;
        padding: 5px 10px;
        width: 88%;
      }
    }

    .saveService{
      position: relative;
      figure{
        width: 22px;
        height: 24px;
        position: absolute;
        margin: 0;
        right: 12%;
        top: 14%;
      }

      .buttonSave{
        border: none;
        padding: 7px 15px;
        background-color: #cd2a00;
        border-radius: 6px;
        color: white;
        font-size: .8rem;
        width: 84%;
        box-shadow: 0 2px 5px 1px #00000042;
        outline: none;
      }
    }
  }

  .descriptionService{
    align-items: flex-end;
  }
}

.w-90{
  width: 90% !important;
}
.w-95{
  width: 95% !important;
}
.h-85{
  height: 85px !important;
}