@import '../../../assets/scss/variables';

.containService{
  height: 465px;
  background-color: $color-white;
  display: flex;
  border-radius: 16px;

  &__data{
    .whenService{
      .client{

      }
    }

    label, input, select{
      
    }

    .input__contain{

    }
  }

  &__assets{

  }
}