@import '../../../assets/scss/variables';

.containService{
  background-color: $color-gray;
  display: flex;
  border-radius: 16px;
  position: relative;
  min-height: 525px;

  .form{
    width: 100%;
    display: flex;
    position: relative;
  }

  option{
    padding: 10px 5px;
  }

  .color-red{
    color: red;
  }
  .border-red{
    border-color: red;
  }

  .icon{
    width: 20px;
    height: 22px;
    padding: 0px 4px 0px 4px;
    background-color: $color-white;
    overflow: hidden;
    border-radius: 5px;
    margin-bottom: 0;
    margin-right: 8px;
  }

  .buttons{
    position: relative;
    figure{
      width: 22px;
      height: 24px;
      position: absolute;
      margin: 0;
      right: 12%;
      top: 14%;
    }

    .buttonSave{
      width: 150px;
      border: none;
      padding: 7px 15px;
      background-color: #cd2a00;
      border-radius: 6px;
      color: white;
      font-size: 1.2rem;
      width: 84%;
      box-shadow: 0 2px 5px 1px #00000042;
      outline: none;
    }
  }

  .w-fix-content{
    width: fit-content;
  }

  &__data{
    padding-left: 35px;
    width: 70%;

    .title{
      font-size: 1rem;
      color: $color-red;
    }

    .client, .date{
      display: flex;
    }

    .date{
      width: 53%;
      .dateContain{
        width: 36%;
        margin-right: 10px;
        input{
          width: 70px !important;
        }
      }
      .icon{
        width: 40px;
        height: 40px;
        position: absolute;
        bottom: 0;
        margin: 0;
        right: 3px;
      }
    }

    .client{
      justify-content: space-between;
    }

    label{
      margin-bottom: 3px;
      display: block;
    }

    input, select, textarea{
      height: 39px;
      border-radius: 5px;
      border: 1px solid black;
      padding-right: 0;

    }

    .nombre{
      min-width: 100px;
    }
    
    .input__contain{
      font-size: .8rem !important;
      width: 150px;
      margin-right: 20px;
      position: relative;
    }

    .name{
     min-width: 19%;

      input{
        width: 150px;
      }
    }

    .code{
      input{
          width: 90px;
      }
    
    }

    .statusService{
      input, select{
        max-width: 160px;
      }
    }
  }

  .direccion{
    .title{
      padding: 2rem 0 1rem;
      font-size: 1rem;
      color: #cd2a00;
    }
    input{
      width: 90%;
    }
    .direccion_div{
      justify-content: flex-start !important;
    }


    .max-width-95{
      max-width: 95px;
    }

    .auto{
     width: 80px !important;
    }

    .w-200{
      width: 150px;
    }
    .w-70{
      width: 70px !important;
    }

    .mr-12{
      margin-right: 12%;
    }
  }

  &__aside{
    justify-content: center;
    width: 28%;
    padding: 10px 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    .buttons{
      margin-bottom: 1rem;
      .buttonSave{
        padding: 8px 19px 9px;
        width: fit-content;
        font-size: 1.2rem;
      }
      .buttonBefore{
        border: none;
        padding: 7px 15px;
        background-color: #5b5b5f;
        border-radius: 6px;
        color: white;
        font-size: 1.2rem;
        width: fit-content;
        box-shadow: 0 2px 5px 1px #00000042;
        outline: none;    
      }
    }

    .spanDirectionEqual{
      font-size: .7rem;
      font-weight: bold;
    }

    .tmn-max{
      font-size: .7rem;
      padding-left: 14%;
    }

    .addEmployee{
      padding: 20px;
      font-size: .9rem;

      .input__contain{
        display: flex;
        flex-wrap: wrap;
        font-size: .8rem;
        width: inherit;
        position: relative;
      }

      select{
        height: 45px;
        border-radius: 5px;
        border: 1px solid black;
        padding: 5px 10px;
        width: 88%;
      }
    }

    &.saveService{

      .buttons{
        margin-bottom: 1rem;

        .buttonSave{
          font-size: 1.2rem;
          min-width: 150px;
          margin-bottom: 1.5rem;
        }

        .buttonBefore{ 
          font-size: 1.2rem;  
        }
      }

      .icon{
        position: relative !important;
        margin: auto !important;
        left: 0 !important;
        top: 0 !important;
        overflow: inherit !important;
        padding: 0 !important;
        padding-bottom: 5px !important;
        margin-top: 2.5px !important;
        margin-bottom: 2.5px !important;
      }

    }
  }

  .descriptionService{
    align-items: flex-end;
  }

  .pt-6x100{

    .input__contain{
       width: auto !important;
       margin-bottom: 15px;
    }

  }
}

.w-90{
  width: 90% !important;
}

.w-95{
  width: 95% !important;
}

.h-85{
  height: 85px !important;
}

.no-exist{
  font-weight: bold;
  margin: 0;
  margin-top: 1rem;
}

.client-checkbox {
  font-weight: 800;
  margin-left: 5px !important;
  font-size: 13px;
  display: block;
}

.input-activities {
  background-color: white;
  background: white;
  width: 270px;
  border: 1px solid black;
  border-radius: 5px;
  
  .dropdown-btn{
    padding: 0px 0px !important;
  }
}

.datos_div{
  
  input{
    width: 75px !important;
  }

  select{
    width: auto;
  }

}

.siguiente-container{
  transform: translate(10px, 120px);
}

@media (max-width: 1200px){

  input{
    margin: 0px 5px 0px 0px !important;
    width: 90% !important;
  }

  .spanDirectionEqual{
    width: auto !important;
  }

  .buttonSave{
    font-size: 1rem !important;
  }

 .buttonBefore{ 
   font-size: 1rem !important;  
  }
 
}

@media (max-width: 1024px){

  .containService{

    &__data{
      padding-left: 0px !important;
    }

  }

  input{
    width: 90px;
    font-size: .7rem;
    .spanDirectionEqual {
      width: 20px !important;
    }
  }

  textarea, select, .input-activities{
    font-size: .7rem !important;
  }

  label{
    font-size: .7rem;
  }

  .buttonSave{
     min-width: 100px !important;
     font-size: .9rem;
  }

  .buttonBefore{ 
    font-size: .9rem !important;  
  }

  select{
    height: 30px !important;
    font-size: .7rem;
  }

  .dropdown-btn{
    height: 30px;
    font-size: .7rem;
  }

  input{
    height: 30px !important;
  }

  label{
    font-size: .6rem;
  }

  .client-checkbox{
    font-size: .8rem;
    min-width: 150px;
  }

}

@media(max-width: 860px){
  .primera{
   display: block !important;
   width: auto !important;
   .siguiente-container{
    transform: translate(0px, 0px);
  }
  }
}


@media (max-width: 780px) { 

  .primera{
    display: block !important;
    width: auto !important;
    .siguiente-container{
      transform: translate(0px, 0px);
    }
   }

  .dataService{
    flex-wrap: wrap;
  }

  .siguiente-container{
    position: relative;
  }

  .input-activities {
    width: auto;
    span{
      padding: 1px;
    }
  }

  .containService{
    transform: translate(0px, 171px);
    height: auto;

    &__data{
      width: 100%;
    }
    

    &__aside{
      width: 60%;
      flex-direction: row !important;
      flex-wrap: nowrap;
      bottom: -40px;
      justify-content: normal;

      .buttons{
        margin-right: 20px;
      }
     

      div{
        align-items: baseline;
        display: flex;
        margin: 0px 20px 0px 0px;
      }
    }

    .saveService{
      position: absolute;
      .botones{
        width: 80%;
      }
    }
  }

  .marco{
    padding: 2rem !important;
  }

  select{
    height: 25px !important;
    font-size: .6rem;
  }

  span{
    .dropdown-btn{
      font-size: .6rem;
    }
  }

  input{
    height: 25px !important;
    font-size: .6rem;
  }


  textarea , select{
    font-size: .6rem;
  }

  .siguiente-container{
    transform: translate(-130px, 210px);
  }

  .buttonSave{
    min-width: 80px !important;
    font-size: .8rem !important;
  }

 .buttonBefore{ 
   font-size: .8rem !important;  
  }

}

@media(max-width: 480px){
  .client{
    display: block !important;
  }

  .dataService{
    display: block !important;
  }
  .direccion_div{
    display: block !important;
  }

  h3{
    font-size: .8rem !important;  
    word-wrap: break-word !important;
  }

  .client-checkbox{
    font-size: .6rem;
    min-width: 100px !important;
  }

  .buttonSave, .buttonBefore{
    padding: 4px 2px !important;
    margin-right: 5px;
  }
}