<section>
  <header>
    <figure><img src="../../../../assets/images/logo-blanco.png" alt="torrefiel"></figure>
    <figure><img src="../../../../assets/svg/cancelar.svg" alt=""></figure>
  </header>
  <main>
    <div>
      <app-pie-chart></app-pie-chart>
    </div>
    <div class="before">
      <div class="contain">
        <div class="cancels">
          <p>Cancelaciones</p>
          <div>Grafica</div>
          <p>20</p>
        </div>
        <div class="newJobs">
          <p>Nuevos Trabajos</p>
          <div>Grafica</div>
          <p>60</p>
        </div>
      </div>
      <div class="ingresos">
        <div>
          <p>Calculando sobre importes</p>
          <div>Grafica</div>
        </div>
        <div>
          <h3>Ingresos <br> <span>1.000€</span></h3>
        </div>
      </div>
    </div>
    <div class="middle">
      <div>
        <div>
          <h4>Tiempo promedio por Actividad/Cliente</h4>
          <div>Grafica</div>
        </div>
        <div>
          <h4>Actividades más solicitadas</h4>
          <div>Grafica</div>
          <div>Grafica</div>
          <div>Grafica</div>
        </div>
      </div>
    </div>
    <div class="after">
      <div class="contain">
        <div class="topUser">
          <p>Usuario con más<br> trabajos</p>
          <div>Grafica</div>
          <p>Nickname</p>
        </div>
        <div class="newJobs">
          <p>Estado más <br> utilizado</p>
          <div>Grafica</div>
          <p>Pendiente de cita</p>
        </div>
      </div>
      <div class="uso">
        <p>Uso de...</p>
        <div>Grafica</div>
      </div>
    </div>
  </main>
</section>