<section class="sectionData">
  <header class="sectionData__header">
    <figure><img src="assets/images/logo-blanco.png" alt="torrefiel"></figure>
    <figure class="exit" (click)="emitEvent()">
      <app-create-icon [class]="'color-white'" [name]="'cancel'" [url]="'../../../../assets/svg_2/cancelar.svg'"></app-create-icon>
    </figure>
  </header>
  <main class="sectionData__main">
    <div class="before">
      <div class="contain">
        <!-- <div class="cancels data-card xs">
          <p>Cancelaciones</p>
          <div>
            <app-pie-chart [id]="'number-01'" [porcentage]='0' [size]='65' [lineWidth]='4' [rotate]='0'></app-pie-chart>
          </div>
          <p class="number">0</p>
        </div> -->
        <div class="newJobs data-card xs">
          <p>Nuevos Trabajos</p>
          <!-- <app-pie-chart [id]="'number-02'" [porcentage]='0' [size]='65' [lineWidth]='4' [rotate]='0'></app-pie-chart> -->
          <p class="number">{{array}}</p>
        </div>
      </div>
      <div class="ingresos data-card flex-row">
        <div>
          <p>Calculando sobre importes (SIN IVA)</p>
          <div>
            <app-line-chart></app-line-chart>
          </div>
        </div>
        <div class="align-self-center">
          <h3>Ingresos <br> <span class="color-red">000€</span></h3>
        </div>
      </div>
    </div>
    <div class="middle">
      <div class="data-card">
        <div>
          <p>Tiempo promedio de servicio</p>
          <div>
            <app-medium-pie-chart [content]="'0 hora'" [id]="'circle-medium-01'" [porcentage]='0' [size]='165' [lineWidth]='13' [rotate]='0'></app-medium-pie-chart>
          </div>
        </div>
        <div class="mt-3">
          <p>Actividades más solicitadas</p>
          <div class="d-flex justify-content-between align-items-center">
            <div>
              <app-pie-chart [id]="'number-03'" [porcentage]='0' [size]='65' [lineWidth]='4' [rotate]='0'></app-pie-chart>
              <p class="mt-2"><small><b>toldos</b></small></p>
            </div>
            <div>
              <app-pie-chart [id]="'number-04'" [porcentage]='0' [size]='65' [lineWidth]='4' [rotate]='0'></app-pie-chart>
              <p class="mt-2"><small><b>bricoHogar</b></small></p>
            </div>
            <div>
              <app-pie-chart [id]="'number-05'" [porcentage]='0' [size]='65' [lineWidth]='4' [rotate]='0'></app-pie-chart>
              <p class="mt-2"><small><b>Ventana</b></small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="after">
      <div class="contain">
        <div class="topUser data-card xs p-15">
          <p>Usuario con más<br> trabajos</p>
          <div>
            <p class="number">{{numWorks}}</p>
          </div>
          <p class="text">{{nickName}}</p>
        </div>
        <div class="newJobs data-card xs">
          <p>Estado más <br> utilizado</p>
          <div>
            <app-pie-chart [id]="'number-07'" [porcentage]="cont.toFixed(3)" [size]='65' [lineWidth]='4' [rotate]='0'></app-pie-chart>
          </div>
          <p class="text">{{masRepetida}}</p>
        </div>
      </div>
      <div class="uso data-card">
        <p class="mb-2">Clientes con mayor número de servicios mensuales</p>
        <div class="d-flex justify-content-between align-items-center">
          <div *ngFor="let client of clients; let i = index">
            <p class="mb-2 f-07">{{client.name}}</p>
            <app-pie-chart [id]="i" [porcentage]='(client.services.length * 100 / allservice.length).toFixed(3)' [size]='65' [lineWidth]='4' [rotate]='0'></app-pie-chart>
          </div>
          <!-- <div>
            <p class="mb-2 f-07">Cliente B</p>
            <app-pie-chart [id]="'number-09'" [porcentage]='0' [size]='65' [lineWidth]='4' [rotate]='0'></app-pie-chart>
          </div>
          <div>
            <p class="mb-2 f-07">Cliente C</p>
            <app-pie-chart [id]="'number-10'" [porcentage]='0' [size]='65' [lineWidth]='4' [rotate]='0'></app-pie-chart>
          </div>
          <div>
            <p class="mb-2 f-07">Cliente D</p>
            <app-pie-chart [id]="'number-11'" [porcentage]='0' [size]='65' [lineWidth]='4' [rotate]='0'></app-pie-chart>
          </div> -->
        </div>
      </div>
    </div>
  </main>
</section>