<section class="sectionUsers">
  <div class="description">
    <div class="description__info">
      <div class="section-title">
        <h3>TUS USUARIOS</h3>
        <!-- <p>Elimina y revisa los trabajos<br> asignados de cada usuario</p> -->
      </div>
        <app-add-new (newUserCreated)="updateUsers($event)" *ngIf="displayNewUser" class="w-100 adding-user" (closeWindow)="close()"></app-add-new>
      

      <div class="add__user">
        <div class="user__contain" (click)="openNewUserModal()">
          <div class="user__contain--title h-auto">
            <figure class="icon">
              <app-create-icon [class]="'color-gray'" [name]="'profile'" [url]="'../../../../assets/svg_2/perfil.svg'"></app-create-icon>
            </figure>
            <h4 class="newUser">Nuevo usuario</h4>
          </div>
        </div>
      </div>
      <div class="list">
        <div class="user__contain" *ngFor="let user of allUsers">
          <div class="user__contain--title">
            <figure class="icon">
              <app-create-icon [class]="'color-gray'" [name]="'profile'" [url]="'../../../../assets/svg_2/perfil.svg'"></app-create-icon>
            </figure>
            <h4>{{ user.userName }}</h4>
          </div>
          <div class="user__contain--icons">
            <figure class="icon" (click)="openWorks(user._id)">
              <app-create-icon [class]="'color-gray bg-white button'" [name]="'only-eye'" [url]="'../../../../assets/svg_2/only-eye.svg'"></app-create-icon>
            </figure>
            <figure (click)="deleteUser(user._id)" class="icon">
              <app-create-icon [class]="'color-gray bg-white button'" [name]="'trash'" [url]="'../../../../assets/svg_2/trash.svg'"></app-create-icon>
            </figure>
          </div>
        </div>
        <div class="user__contain" *ngIf="!allUsers  || allUsers.length === 0">
          <div class="user__contain--title d-flex justify-content-center text-center w-100">
            <h4>No existen usuarios</h4>
          </div>
        </div>
        <!-- <div>
          paginacion
        </div> -->
      </div>
    </div>
  </div>
</section>

<section class="containUser" *ngIf="showUser">
  <figure class="exit" (click)="showUser = false">
    <app-create-icon [class]="'color-white'" [name]="'cancel'" [url]="'../../../../assets/svg_2/cancelar.svg'"></app-create-icon>
  </figure>
  <div class="containUser__header">
    <div class="title">
      <figure class="icon">
        <app-create-icon [class]="'color-gray'" [name]="'profile'" [url]="'../../../../assets/svg_2/perfil.svg'"></app-create-icon>
      </figure>
      <h4>{{ jobsOfUser.userName }}</h4>
    </div>
  </div>
  <div class="containUser__main">
    <div class="job" *ngFor="let job of jobsOfUser.works">
      <div class="left">
        <div class="one">
          <div class="clientAndStatus">
            <p><strong>Cliente: </strong>{{ job.name }} {{ job.lastName }}</p>
            <div class="priority-label">
              <label class="priority-label priority info" [ngClass]="{'urgent': job.priority}">
                <span *ngIf="job.priority">Urgente</span>
                <span *ngIf="!job.priority">Normal</span>
              </label>
            </div>
          </div>
          <p><strong>Fecha: </strong>{{ getDate(job.startDate) }}</p>
          <p><strong>Hora: </strong>{{ job.startHours }}</p>
          <p style="word-break: break-all;"><strong>Descripción: </strong>{{ job.description }}</p>
        </div>
      </div>
    </div>
  </div>
</section>