@import '../../../../assets/scss/variables';

%titleUser{
  font-size: 1.75rem;
  color: #cd2a00;
  background-color: #c1c1c8;
  padding: 12px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  box-shadow: 0 3px 8px 3px #0000001f;
  width: 75%;
  height: 70px;

  h4, p{
    font-size: 1rem; 
    margin: 0;
    margin-left: 8px;
  }

  

  figure{
    width: 35px;
    height: 35px;
    margin: 0;
  }
}

%titleAddUser{
  font-size: 1rem;
  color: #cd2a00;
  background-color: #c1c1c8;
  padding: 5px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  box-shadow: 0 3px 8px 3px #0000001f;
  width: 50%;
  height: 35px;
  cursor: pointer;

  h4, p{
    font-size: 1rem !important;
    margin: 0;
    margin-left: 8px;
  }

  figure{
    width: 35px;
    height: 35px;
    margin: 0;
  }
}

.sectionUsers{
  padding: 25px;
  background-color: white;
  border-radius: 4.5px;
  height: 100%;

  .section-title{
    text-align: center;

    h3{
      font-size: 1.5rem;
      color: #cd2a00;
      font-weight: bold;
      letter-spacing: 1px;
    }

    p{
      font-size: .9rem;
    }
  }

  .search{
    border-radius: 13px;
    display: flex;
    padding: 3px 5px;
    overflow: hidden;
    margin: 20px auto;
    width: 80%;
    box-shadow: 0 3px 4px 1px #0000001f;

    figure{
      width: 33px;
      height: 25px;
      margin: 0;
    }

    input{
      border: none;
      outline: none !important;
      width: 65%;
    }
  }

  .list{
    margin-top: 30px;

    .user__contain{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 2.5rem auto;

      .svg{
        vertical-align: baseline !important;
        width: 35px;
        height: 40px;
      }

      &--title{
        @extend %titleUser;
      }

      &--icons{
        width: 20%;

        figure{
          width: 40px;
          height: 40px;
          margin: 0;
          padding: 5px;
        }
      }
    }
  }
}

.containUser{
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  width: 120%;
  position: absolute;
  top: -2%;
  left: -10%;
  margin: auto;
  height: 104%;
  overflow-y: auto;
  padding: 30px;
  color: white;
  flex-wrap: wrap;

  &__header{
    display: flex;
    width: 100%;

    .title{
      @extend %titleUser;
      width: 50%;
    }

    .upAdmin{
      border: none;
      padding: 7px 12px;
      color: black;
      background-color: white;
      border-radius: 7px;
      box-shadow: 0 2px 15px 1px #00000087;
      font-weight: bold;
      font-size: 0.8rem;
      padding-top: 9px;
    }
  }

  &__main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px !important;

    &--title{
      width: 100%;
      text-align: center;
      padding: 15px;
      margin-top: 5px;
      margin-bottom: 15px;
    }

    .job{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 25px 0;

      .left{
        color: #cd2a00;
        background-color: #c1c1c8;
        width: 100%;
        padding: 10px 13px;
        font-size: 0.8rem !important;
        border-radius: 4px;
        border: none;
    

        p{
          margin-bottom: 5px;
        }

        .one{
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          flex-direction: column;

          p{
            margin: 0;
          }
        }

        .reAsignar{
          display: flex;
          justify-content: center;
          align-items: center;
          flex-wrap: wrap;

          p{
            margin-bottom: 7px;
            color: black;
            font-weight: bold;
          }

          select{
            padding: 8px 10px;
            border-radius: 3px;
            outline: none !important;
            min-width: 130px;
          }
        }
        
      }

      .button{
        button{
          border: none;
          font-size: .8rem;
          padding: 6px 12px;
          color: white;
          background-color: #cd2a00;
          border-radius: 7px;
          box-shadow: 0 2px 15px 1px #00000087;
          padding-top: 7px;
        }
      }
    }
  }  
}

.add__user{
  margin-top: 30px;

  .user__contain{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2.5rem auto;

    &--title{
      @extend %titleAddUser;
    }

    &--icons{
      width: 20%;

      figure{
        width: 40px;
        height: 40px;
        margin: 0;
        padding: 5px;
      }
    }
  }
}



.sectionMenu{
  position: relative;
  width: 89%;
  min-height: 465px;
  background-color: #000000;
  display: flex;
  border-radius: 16px;
  margin-bottom: 3rem;

  .adding-user {
    width: 60%;
    margin: 10% auto auto auto;
    height: 70%;
    border-radius: 6px;
  }
}


.description{
  min-height: 465px;
  background-color: #ffffff;
  /* display: flex; */
  border-radius: 16px;
  margin-bottom: 3rem;

  &__info{
    position: relative;
    width: 98%;
  
    .sectionMenu{
      position: absolute;
      width: 100%;
      height: 109%;
      top: -6%;
      left: 0;

      .adding-user{
        background-color: rgba($color: #000000, $alpha: .8);
      }

      .adding-user {
        width: 60%;
        margin: 10% auto auto auto;
        height: 70%;
        border-radius: 6px;
      }
    }
  }
}

.adding-user {
  position: absolute;
}

.exit{
  position: absolute;
  width: 40px;
  height: 40px;
  top: 0;
  right: 0;
  padding: 0;
  cursor: pointer;
}

.info {
  background-color: $color-gray;
  padding: 5px 10px;
  border-radius: 5px;
  text-align: center;
/*   min-height: 47px; */
}
          
.clientAndStatus {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: relative;
}

.priority-label {
  position: absolute;
  right: 0px;
  .info{
    background-color: white !important;
    color: black;
  }
  .urgent{
    background-color: #cd2a00 !important;
    color: white;
  }
}

@media(max-width: 1200px){
  .user__contain{
    &--title{
      padding: 0px 0px !important;
    }
  }
  .left{
    margin-bottom: 0px;
  }

 
}

@media (max-width: 780px){
  .containUser{
    padding: 20px 10px;
  }
  .containUser__header{
    .title{
      padding: 10px 5px;
      display: inline-block;
      width: 100%;
      .icon{
        width: 100%;
      }
      h4{
        text-align: center;
        margin: 0px;
      }
    }
  }
  .section-title{
    h3{
      font-size: 1rem !important;
    }
  }
  .sectionUsers{
    padding: 10px;
 
  }
  .user__contain{
    display: block !important;
    margin: 30px 10px 0px 10px!important;
    text-align: center;
    &--title{
      display: inline-block !important;
      width: 100% !important;
      padding: 0px 0px !important;
      .icon{
        margin: auto !important;
      }
      h4{
        margin-left: 0px !important;
      }
      .list{
        display: inline-flex;
      }
    }
    &--icons{
      display: flex;
      width: auto !important;
      justify-content: center !important;
    }
  }

  .list{
    margin-top: 30px;
  }

}

@media (max-width: 481px){
  .sectionUsers{
    padding: 3px;
  }
.section-title{
  h3{
    font-size: .8rem !important;
  }
}
.user__contain{
  margin: 0px;
}
}
