<section class="sectionUsers">
  <div class="description">
    <div class="description__info">
      <div class="section-title">
        <h3>TUS USUARIOS</h3>
        <!-- <p>Elimina y revisa los trabajos<br> asignados de cada usuario</p> -->
      </div>
        <app-add-new (newUserCreated)="updateUsers($event)" *ngIf="displayNewUser" class="w-100 adding-user" (closeWindow)="close()"></app-add-new>
    
      <div class="add__user">
        <div class="user__contain" (click)="openNewUserModal()">
          <div class="user__contain--title h-auto">
            <figure class="icon avatar">
              <app-create-icon [class]="'color-gray'" [name]="'profile'" [url]="'../../../../assets/svg_2/perfil.svg'"></app-create-icon>
            </figure>
            <h4 class="newUser" style="padding: 10px 5px;">Nuevo usuario</h4>
          </div>
        </div>
      </div>

      <div class="list">
        <div class="user__contain" *ngFor="let user of allUsers">
          <div class="user__contain--title">
            <figure class="icon avatar">
              <app-create-icon [class]="'color-gray'" [name]="'profile'" [url]="'../../../../assets/svg_2/perfil.svg'"></app-create-icon>
            </figure>
            <h4 style="margin-bottom: 0px;">{{ user.userName }}</h4>
          </div>
          <div class="user__contain--icons">
            <figure class="icon" (click)="openWorks(user._id)">
              <app-create-icon [class]="'color-gray bg-white button'" [name]="'only-eye'" [url]="'../../../../assets/svg_2/only-eye.svg'"></app-create-icon>
            </figure>
            <figure (click)="openAlert(user._id)" class="icon">
              <app-create-icon [class]="'color-gray bg-white button'" [name]="'trash'" [url]="'../../../../assets/svg_2/trash.svg'"></app-create-icon>
            </figure>
          </div>
          <div class="user__contain--icons">
            <figure class="icon2" (click)="getEditUser(user._id)"> 
              <app-create-icon [class]="'color-gray bg-white button'" [name]="'editar'" [url]="'../../../../assets/svg_2/editar.svg'"></app-create-icon>
            </figure>
          </div>
        </div>
        <div class="user__contain" *ngIf="!allUsers  || allUsers.length === 0">
          <div class="user__contain--title d-flex justify-content-center text-center w-100">
            <h4>No existen usuarios</h4>
          </div>
        </div>
        <!-- <div>
          paginacion
        </div> -->
        <!--alerta -->
        <div class="alert__contain fadeInDown" *ngIf="alertButton">
          <div class="alert__contain--header">
            <!-- <figure *ngIf="alertUrlIcon">
              <app-create-icon [class]="'color-gray'" [name]="'calendar'"></app-create-icon>
            </figure> -->
            <span>¿Estás seguro que quieres eliminar este usuario? </span><br>
          </div>
          <div class="alert__contain--body">
           
            <button (click)="deleteUser()">Confirmar</button>  
            <button (click)="closeAlert()">Cancelar</button>
          </div>
        </div>
        <!--fin alerta  deleteUser(user._id) -->

      </div>

    </div>
  </div>
</section>

<!--mostrar Usuario-->
<section class="containUser trabajador" *ngIf="showUser">
  <figure class="exit" (click)="showUser = false">
    <app-create-icon [class]="'color-white'" [name]="'cancel'" [url]="'../../../../assets/svg_2/cancelar.svg'"></app-create-icon>
  </figure>
  <div class="containUser__header">
    <div class="title">
      <figure class="icon">
        <app-create-icon [class]="'color-gray'" [name]="'profile'" [url]="'../../../../assets/svg_2/perfil.svg'"></app-create-icon>
      </figure>
      <h4 style="margin-bottom: 0px;">{{jobsOfUser.userName}}</h4> 
    </div>
  </div>
  <div class="containUser__main">
    <div class="job" *ngFor="let job of jobsOfUser.works">
      <div class="left">
        <div class="one">
          <div class="clientAndStatus">
            <p><strong>Cliente: </strong>{{ job.name }} {{ job.lastName }}</p>
            <div class="priority-label">
              <label class="priority-label priority info" [ngClass]="{'urgent': job.priority}">
                <span *ngIf="job.priority">Urgente</span>
                <span *ngIf="!job.priority">Normal</span>
              </label>
            </div>
          </div>
          <p><strong>Fecha: </strong>{{ getDate(job.startDate) }}</p>
          <p><strong>Hora: </strong>{{ job.startHours }}</p>
          <p style="word-break: break-word;"><strong>Descripción: </strong>{{ job.description }}</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!--Editar Usuario-->
<section class="containUser Editar" *ngIf="editUserShow">
  <section class="sectionCalendar">
    <app-alert class="alertCenter" [alertUrlIcon]="alertUrlIcon" [alertShow]="alertShow" [alertHeader]="alertHeader" [alertTitle]="alertTitle" [alertSubtitle]="alertSubtitle"></app-alert>
      <header class="sectionCalendar__icons">
        <figure class="icon exit" (click)="closeEditUser()">
          <app-create-icon [class]="'color-white'" [name]="'cancel'" [url]="'../../../../../assets/svg_2/cancelar.svg'"></app-create-icon>
        </figure> 
      </header>
      <main class="sectionCalendar__body">
        <h4 class="sectionAdd__icons" align="center" style="margin-bottom: 2rem;">
          <figure class="icon">
            <app-create-icon [class]="'color-white'" [name]="'profile'" [url]="'../../../../../assets/svg_2/perfil.svg'"></app-create-icon>
          </figure>
          Editar Usuario
        </h4>
        <form >
          <div class="input__contain">
            <label for="">Nombre</label><br>
            <input class="w-90" type="text" pattern="^[0-9]*[A-Za-z]$" placeholder="Nombre" name="name" [(ngModel)]="newUser.name">
          </div>
          <div class="input__contain">
            <label for="">Apellido Paterno</label><br>
            <input class="w-90" type="text" pattern="^[0-9]*[A-Za-z]$" placeholder="Apellido paterno" name="lastName" [(ngModel)]="newUser.lastName">
          </div>
          <div class="input__contain">
            <label for="">Apellido materno</label><br>
            <input class="w-90" type="text" pattern="^[0-9]*[A-Za-z]$" placeholder="Apellido materno" name="motherLastName" [(ngModel)]="newUser.motherLastName">
          </div>
          <div class="input__contain">
            <label for="">Nickname</label><br>
            <input class="w-90" type="text" pattern="^[0-9]*[A-Za-z]$" placeholder="Nombre de usuario" name="userName" [(ngModel)]="newUser.userName">
          </div>
          <div class="input__contain">
            <label for="">Móvil</label><br>
            <input class="w-90" type="tel" pattern="^[0-9]*$" placeholder="Móvil" name="phone" [(ngModel)]="newUser.phone" required>
          </div>
          <div class="input__contain">
            <label for="">Elige color</label><br>
            <input class="w-75" type="color" pattern="#^[0-9]*[A-Za-z]$" placeholder="Color" name="color" [(ngModel)]="newUser.color">
          </div>
          <div class="input__contain">
            <label for="">¿Es administrador?  </label>
            <input type="checkbox" name="rol" class="check" [(ngModel)]="newUser.rol">
          </div>
          <div class="mt-4 buttons d-flex justify-content-center align-items-center">
            <button  class="buttonSave" (click)="editUser(newUser._id, newUser)"> 
              GUARDAR
            </button>
          </div>
        </form>
      </main>
  </section>
</section> 