<section>
  <div class="section-title">
    <h3>TUS USUARIOS</h3>
    <p>Elimina y revisa los trabajos<br> asignados de cada usuario</p>
  </div>
  <div class="list">
    <div class="user__contain">
      <div class="user__contain--icon">
        <figure><img src="../../../../assets/svg/firma.svg" alt=""></figure>
        <h4>Nickname</h4>
      </div>
      <div class="user__contain--title">
        <figure><img src="../../../../assets/svg/Ver.svg" alt=""></figure>
        <figure><img src="../../../../assets/svg/basura.svg" alt=""></figure>
      </div>
    </div>
    <div class="user__contain">
      <div class="user__contain--icon">
        <figure><img src="../../../../assets/svg/firma.svg" alt=""></figure>
        <h4>Nickname</h4>
      </div>
      <div class="user__contain--title">
        <figure><img src="../../../../assets/svg/Ver.svg" alt=""></figure>
        <figure><img src="../../../../assets/svg/basura.svg" alt=""></figure>
      </div>
    </div>
    <div class="user__contain">
      <div class="user__contain--icon">
        <figure><img src="../../../../assets/svg/firma.svg" alt=""></figure>
        <h4>Nickname</h4>
      </div>
      <div class="user__contain--title">
        <figure><img src="../../../../assets/svg/Ver.svg" alt=""></figure>
        <figure><img src="../../../../assets/svg/basura.svg" alt=""></figure>
      </div>
    </div>
    <div>
      paginacion
    </div>
  </div>
</section>