@import 'src/assets/scss/variables';

%titleUser{
  font-size: 1.75rem;
  color: #cd2a00;
  background-color: #c1c1c8;
  padding: 12px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  box-shadow: 0 3px 8px 3px #0000001f;
  width: 75%;
  height: 70px;

  h4, p{
    font-size: 1rem; 
    margin: 0;
    margin-left: 8px;
  }

  

  figure{
    width: 35px;
    height: 35px;
    margin: 0;
  }
}

%titleAddUser{
  font-size: 1rem;
  color: #cd2a00;
  background-color: #c1c1c8;
  padding: 5px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  box-shadow: 0 3px 8px 3px #0000001f;
  width: 50%;
  height: 35px;
  cursor: pointer;

  h4, p{
    font-size: 1rem !important;
    margin: 0;
    margin-left: 8px;
  }

  figure{
    width: 35px;
    height: 35px;
    margin: 0;
  }
}

.sectionCalendar{
  //Aquí se le da tamaño al modal de nuevo usuari
  
    width: 150%;
    transform: translate(-10%, -80px);
    background-color: rgba(0, 0, 0, .8);
    border-radius: 5px;
    position: absolute;
    top: -2%;
    left: -10%;
    margin: auto;
    height: auto;
    overflow-y: auto;
    padding: 30px;
    color: white;
    flex-wrap: wrap;
  

  &__icons{
    display: block;
    justify-content: center;
    align-items: flex-end;
    padding: 6px 10px;

    .icon{
      width: 31px;
      height: 33px;
      margin-bottom: 0;
      margin-right: 7px;

      &.exit{
        position: absolute;
        width: 40px;
        height: 40px;
        top: 0;
        right: 0;
        padding: 0;
        cursor: pointer;
      }

      /* &.exit{
      
        width: 15px;
        height: 16px;
        border-radius: 5px;
        background-color: white;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
      } */
    }
  }

  &__body{
    color: white;
    /* margin: 15px;
    margin-top: 3px;
    height: 90%;
    padding: 10px; */
  }
}

.check{
  width: auto !important;
  margin-left: 10px !important;
}

.buttons{
  position: relative;
  figure{
    width: 22px;
    height: 24px;
    position: absolute;
    margin: 0;
    right: 12%;
    top: 14%;
  }
 

  .buttonSave{
    border: none;
    padding: 5px;
    background-color: #cd2a00;
    border-radius: 5px;
    color: white;
    font-size: .8rem;
    box-shadow: 0 2px 5px 1px #00000042;
    outline: none;
    margin-bottom: 5px;
  }
}
.buttons{
 
  .buttonSave{
    padding: 8px 19px 9px;
    width: fit-content;
    font-size: 1.5rem;
  }
  .buttonBefore{
    border: none;
    padding: 7px 15px;
    background-color: #5b5b5f;
    border-radius: 6px;
    color: white;
    font-size: 1.2rem;
    width: fit-content;
    box-shadow: 0 2px 5px 1px #00000042;
    outline: none;    
  }
}
.buttons{
  .buttonSave{
    font-size: .8rem;
  }
  .buttonBefore{ 
    font-size: .9rem;  
  }
}


.input__contain {
  font-size: .8rem;
  width: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  
  label{
    font-size: 1rem;
    margin: 10px 0px 0px 0px !important;
    text-align: left;
    padding-left: 20px;
    display: inline-block;
  }
  input{
    margin: 0 auto;
    border-radius: 5px;
  } 

}
.w-90{
  width: 90%;
  padding: 3px 3px;
}
.w-75{
  width: 90% !important;
}



.sectionCalendar__body{
  text-align: center;

  .sectionAdd{
    //Aquí se le da tamaño al modal de nuevo usuario
    height: 1000px;
    width: 150%;
    transform: translate(-10%, -130px);
    background-color: rgba(0, 0, 0, .7);
  
    &__icons{
      display: block;
      padding: 2px 10px;
      font-size: 1.3rem;
  
      .icon{
        width: 40px;
        height: 40px;
        margin-bottom: 0;
        margin-right: 7px;
        color: #ffffff;
        position: absolute;
        left: 2rem;
        top: 2rem;
      }

    }
  }

}

@media(max-width: 1200px){
  .sectionCalendar{
    width: 200%;
  }
}



@media (max-width: 780px){
  .sectionCalendar{
    position: absolute;
    top: 20px;
  }
  .sectionAdd__icons{
    font-size: 1rem !important;
    margin-bottom: 0px;
    padding: 3px 10px !important;
  }
  .sectionClient{
    min-width: auto !important;
  }
  .buttonSave{
    margin-top: 3px !important;
  }
}

@media (max-width: 481px){
  .sectionAdd__icons{
    font-size: .8rem !important;
  }
}