<section class="sectionPdf">
  <div class="sectionPdf__icons">
    <figure class="icon">
      <app-create-icon [class]="'color-gray bg-white button'" [name]="'download'" [url]="'../../../../assets/svg/descargar.svg'"></app-create-icon>
    </figure>
    <figure class="icon">
      <app-create-icon [class]="'color-gray bg-white button'" [name]="'print'" [url]="'../../../../assets/svg/impresora.svg'"></app-create-icon>
    </figure>
    <figure class="icon exit">
      <app-create-icon [class]="'color-red bg-white'" [name]="'cancel'" [url]="'../../../../assets/svg/cancelar.svg'"></app-create-icon>
    </figure>
  </div>
  <div class="sectionPdf__viewpdf">
    <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" bgcolor="#c1c1c8" style="border:1px solid #c1c1c8">
      <tbody>
        <!-- header -->
        <tr>
          <td>
            <tr>
              <td>
                <span>PERSIANAS Y TOLDOS</span>
              </td>
            </tr>
            <tr>
              <td>
                <img src="../../../../assets/images/logo-color.png" alt="Torre fiel">
              </td>
            </tr>
          </td>
          <td colspan="1" width="200">
            <tr>
              <span><b>Persionas y Toldos Torrefiel, CB</b></span><br>
              <span>c/ Librero Esclapes, 2 Bajo dcha.</span>
              <span>46019- Valencia</span>
              <span>CIF: E97681472</span>
            </tr>
            <tr>
              <span>Telf.: 961337760</span>
              <span>963284410</span>
              <span>Correo electrónico: <a href="mailto:info@mejorarhogar.com">info@mejorarhogar.com</a></span>
            </tr>
          </td>
        </tr>
        <!-- actividades -->
        <tr class="sections">
          <td>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">Persianas</th>
                  <th scope="col">Toldos</th>
                  <th scope="col">Ventanas</th>
                  <th scope="col">Mosquiteras</th>
                  <th scope="col">Electricidad</th>
                </tr>
                <tr>
                  <th scope="col">Mamparas de<br>baño</th>
                  <th scope="col">Decoración</th>
                  <th scope="col">Rejas</th>
                  <th scope="col">Motorizaciones</th>
                  <th scope="col">Reparaciones<br> a domicilio</th>
                </tr>
              </thead>
            </table>
          </td>
        </tr>
        <!-- data -->
        <tr class="data">
          <td>
            <table>
              <tbody>
                <tr>
                  <td>
                    <span><b>Fecha de emisión:</b> Valencia. 12 de marzo de 2020</span>
                  </td>
                  <td>
                    <tr>
                      <td>N° albarán:</td>
                      <td>¿¿??</td>
                    </tr>
                  </td>
                </tr>
                <tr>
                  <td>
                    <span><b>Cliente:</b> ???????</span>
                  </td>
                  <td>
                    <tr>
                      <td>Teléfono 1:</td>
                      <td>¿¿??</td>
                    </tr>
                  </td>
                </tr>
                <tr>
                  <td>
                    <span><b>Correo electronico:</b> ??????? @gmail.com</span>
                  </td>
                  <td>
                    <tr>
                      <td>Teléfono 2:</td>
                      <td>¿¿??</td>
                    </tr>
                  </td>
                </tr>
                <tr>
                  <td>
                    <span><b>Dirección trabajos:</b> ???????</span>
                  </td>
                  <td>
                    <tr>
                      <td>Población 1:</td>
                      <td>46004 - Valencia <br> Valencia</td>
                    </tr>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <!-- albaran -->
        <tr class="info">
          <td>
            <table>
              <tbody>
                <tr>
                  <td>
                    <span>ALBARÁN</span>
                  </td>
                </tr>
                <tr class="bg-purple">
                  <td>Descripción de trabajos realizados</td>
                </tr>
                <tr>
                  texto...
                </tr>
                <tr class="bg-purple">
                  <td>Importe a facturar por los trabajos realizados en esta visita</td>
                </tr>
                <tr>
                  texto...
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>