

.sectionPdf{
  height: 100%;
  width: 100% !important;

  &__icons{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin: -7px 10px;

    .icon{
      width: 31px;
      height: 33px;
      margin-bottom: 0;
      margin-right: 7px;

      &.exit{
        width: 31px;
        height: 33px;
        border-radius: 5px;
        background-color: white;
        overflow: hidden;
      }
    }
  }

  &__viewpdf{
    background-color: white;
    margin: 15px;
    height: 90%;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    table{
      background-color: white;
      color: #333;
      font-size: .7rem;
      position: relative;

      &.pdf::after{
        position: absolute;
        content: "PAGADO";
        width: fit-content;
        bottom: 20%;
        left: 0;
        right: 0;
        margin: 0 auto;
        color: #8cc68c8c;
        font-size: 7.2rem;
        transform: rotate(-45deg);
      }

      tbody, tr{
        display: block;
      }

      tbody{
        padding: 15px;
      }

      td{
        border: none;
        padding: 0;
      }

      .header{
        /* height: 80px; */ 
        margin-bottom: 20px;
        font-size: .8rem;
        display: flex;
        justify-content: space-between;

        td{
          width: 50%;
        }
        .logo{
          height: 100px;
          display: flex;
          align-items: center;
        }
        .info{

          text-align: end;
          font-size: .7rem;
        }
      }

      .services{
        /* height: 80px; */ 
        margin-bottom: 20px;
        display: flex;
        min-width: 100%;
        
        tr{
          display: flex;
          justify-content: space-between;
          min-width: 100%;

          th{
            width: 20%;
            text-align: center;
            border: 1px solid black;
          }

          .purple{
            background-color: #7f017e;
            color: white;
          }
        }
      }

      .data{
        /* height: 80px; */ 
        display: flex;
        min-width: 100%;
        margin-bottom: 20px;
        background-color: #fdff99 !important;
        table{
          min-width: 100%;
          tbody{
            background-color: #fdff99 !important;
            padding: 0px;
            color: #7f017e;
          }

          tr{
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;

            td{

              border: 1px solid #7f017e;
              padding: 5px;

              &:nth-child(1){
                width: 60%;
              }
              &:nth-child(2), &:nth-child(3){
                width: 20%;
                text-align: center;
              }
            }
          }

          .location{
            td{
              height: 55px;
            }
          }
        }
      }

      .info{
        .title{
          justify-content: center;
          height: 30px;
          display: flex;
          text-align: center;
          font-weight: bold;
          font-size: 1rem;
        }

        table{
          tr{
            display: flex;
            width: 100%;
            td{
              &:nth-child(1){
                width: 10%;
              }
              &:nth-child(2){
                width: 50%;
              }
              &:nth-child(3),&:nth-child(4){
                width: 20%;
              }
            }
          }

          .bg-purple{
            display: flex;
            td{
              background-color: #ca9afe;
              border: .5px solid #7f017e;
              padding: 2px;
              font-weight: bold;
              text-align: center;
            }
          }
          
          .bg-yellow{
            display: flex;
            td{
              background-color: #feffd2;
              border: .5px solid #121213;
              padding: 2px;
              font-weight: bold;
              text-align: center;
            }
          }

          tbody{
            padding: 0;
            border: 1px solid black;
            font-weight: bold;

            .text{
              height: 190px;

              td{
                border: .5px solid black;
                padding: 2px;
              }

              &.sm{
                height: 95px;
              }
            }

            .bg-yellow{
              background-color: #feffd2;
            }

            .bg-purple{
              background-color: #7f017e;
              color: white;
            }

            .b-left{
              border-left: .5px solid black;
            }
            .b-right{
              border-right: .5px solid black;
            }
            .b-top{
              border-top: .5px solid black;
            }
            .b-bottom{
              border-bottom: .5px solid black;
            }
          }
        }
      }
    }
  }
}

.div-input-email {
  width: 100%;
  background-color: rgba($color: #000000, $alpha: .8);
  height: 100px;
  margin-top: 21px;
  border-radius: 0 0 6px 6px;
}

.form-input-email {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;

  label {
    color: #ffffff;
  }
}

.div-label-input-email {
  display: flex;
  flex-direction: column;
  height: 120px;
  margin-top: 20px;
}

.button-email-albaran {
  margin-top: 15px;
  display: block;
  width: 100px;
  height: 50px;
  padding: 0 10px;
  border-radius: 10px;
  border: 0;
  background-color: #CD2A00;
  color: #ffffff;
  box-shadow: 0px 4.90723px 4.90723px rgba(0, 0, 0, 0.15);
}

#email-albaran {
  height: 50px;
  padding-left: 10px;
}

.costo{
  justify-content: flex-end !important;
  padding-right: 15px !important;
}



@media print {
  .main__section--buttons{
    display: none;
  }

  
  .sectionPdf{ 
    &__viewpdf{  
      table{
        &.pdf{
          position: fixed;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          background-color: white;
          margin: 0px !important;
          padding: 0px !important;
          //overflow: visible !important;
        
        }
      }
    }
  }   
}

/*   #print {
     position: fixed;
     left: 0;
     right: 0;
     top: 0;
     bottom: 0;
     background-color: white;
     margin: 0px !important;
     padding: 0px !important;
  } */

  /* ::after{
    display: none;
  } */

  /* .pdf::after{
    display: none;
  } */
  
