<section class="sectionPdf">
  <div class="sectionPdf__icons">
    <figure class="icon" (click)="downloadPdf()">
      <app-create-icon [class]="'color-gray bg-white button'" [name]="'download'" [url]="'../../../../assets/svg_2/descargar.svg'"></app-create-icon>
    </figure>
    <figure class="icon" (click)="printToCart('printSectionId')">
  
      <app-create-icon [class]="'color-gray bg-white button'" [name]="'print'" [url]="'../../../../assets/svg_2/impresora.svg'"></app-create-icon>
    </figure>
    <figure class="icon exit" (click)="emitEvent()">
      <app-create-icon [class]="'color-red bg-white'" [name]="'cancel'" [url]="'../../../../assets/svg_2/cancelar.svg'"></app-create-icon>
    </figure>
  </div>
  <div class="sectionPdf__viewpdf " id="pdf_factura_idUser">
    <table id="printSectionId" class="pdf" width="fit-content" border="0" cellpadding="0" cellspacing="0" align="center" style="border:1px solid #c1c1c8; overflow: hidden; min-width: 100%; min-height: 100%;">
      <tbody style="min-width: 100%; min-height: 100%;">
        <!-- header -->
        <tr class="header">
          <td>
            <tr>
              <td>
                <span style="color: red;">PERSIANAS Y TOLDOS</span>
              </td>
            </tr>
            <tr class="logo">
              <td>
                <img src="../../../../assets/images/logo-color.png" alt="Torre fiel">
              </td>
            </tr>
          </td>
          <td class="info">
            <tr class="mb-2">
              <span><b>Persionas y Toldos Torrefiel, CB</b></span><br>
              <span>c/ Librero Esclapes, 2 Bajo dcha.</span><br>
              <span>46019- Valencia</span><br>
              <span>CIF: E97681472</span>
            </tr>
            <tr>
              <span>Telf.: 961337760</span><br>
              <span>963284410</span><br>
              <span>Correo electrónico: <a href="mailto:info@mejorarhogar.com">info@mejorarhogar.com</a></span>
            </tr>
          </td>
        </tr>
        <!-- actividades -->
        <tr class="services">
          <td style="width: 100%;">
            <table border="0" cellpadding="0" cellspacing="0" align="center" style="width: 100%;">
              <thead>
                <tr>
                  <th scope="col" class="purple">Persianas</th>
                  <th scope="col">Toldos</th>
                  <th scope="col" class="purple">Ventanas</th>
                  <th scope="col">Mosquiteras</th>
                  <th scope="col" class="purple">Electricidad</th>
                </tr>
                <tr>
                  <th scope="col">Mamparas de<br>baño</th>
                  <th scope="col" class="purple">Decoración</th>
                  <th scope="col">Rejas</th>
                  <th scope="col" class="purple">Motorizaciones</th>
                  <th scope="col">Reparaciones<br> a domicilio</th>
                </tr>
              </thead>
            </table>
          </td>
        </tr>
        <!-- data -->
        <tr class="data">
          <td style= "min-width: 100%;">
            <table border="0" cellpadding="0" cellspacing="0" align="center" style="border:1px solid #c1c1c8; min-width: 100%;">
              <tbody>
                <tr>
                  <td>
                    <span><b>Fecha de emisión: </b> {{deliveryNoteData.startDate.split('T')[0]}}</span>
                  </td>
                  <td><span>N° factura:</span></td>
                  <td><span>{{ deliveryNoteData.numDeliveryNote }}</span></td>
                </tr>
                <tr>
                  <td>
                    <span><b>Cliente: </b>{{ clientData.name }} {{ clientData.lastName }} {{ clientData.motherLastName }}</span>
                  </td>
                  <td><span>Teléfono 1:</span></td>
                  <td><span>{{ clientData.phoneOne }}</span></td>
                </tr>
                <tr>
                  <td>
                    <span><b>Correo electronico: </b>{{ clientData.email }} </span>
                  </td>
                  <td><span>Teléfono 2:</span></td>
                  <td><span>{{ clientData.phoneTwo? clientData.phoneTwo : "_" }}</span></td>
                </tr>
                <tr class="location">
                  <td>
                    <span><b>Dirección trabajos: </b>{{ deliveryNoteData.direction }} #{{ deliveryNoteData.numberExternal }}</span>
                  </td>
                  <td><span>Población:  {{ deliveryNoteData.province }} <br>{{ deliveryNoteData.municipality }}</span></td>
                  <td><span>C.P. {{ deliveryNoteData.postalCode}} </span></td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <!-- albaran -->
        <tr class="info" style="min-width: 100%; display: flex;">
          <td style= "min-width: 100%;">
            <tr class="title">
              <span>FACTURA</span>
            </tr>
            <tr>
              <table border="0" cellpadding="0" cellspacing="0" align="center" style="min-width: 100%;">
                <thead class="bg-purple">
                  <tr>
                    <td>UND</td>
                    <td>DESCRIPCIÓN</td>
                    <td>PRECIO/UND</td>
                    <td>SUBTOTAL</td>
                  </tr>
                </thead>
                <tbody>
                  <tr class="text">
                    <td class="text-center">
                      <span>1</span>
                    </td>
                    <td>
                      <span>Detalle del Producto</span>
                    </td>
                    <td class="text-center">
                      <span>{{deliveryNoteData.amount}}€</span>
                    </td>
                    <td class="text-center">
                      <span>{{deliveryNoteData.amount}}€</span>
                    </td>
                  </tr>
                  <tr class="total b-bottom">
                    <td class="bg-yellow"></td>
                    <td class="bg-yellow d-flex justify-content-center">
                      <span>IMPORTE TOTAL:</span>
                    </td>
                    <td class="bg-yellow b-left b-right d-flex justify-content-center">
                      <span>Base imp.:</span>
                    </td>
                    <td class="bg-white d-flex costo">
                      <span>{{deliveryNoteData.amount }}€</span>
                    </td>
                  </tr>
                  <tr>
                    <td></td>
                    <td></td>
                    <td class="bg-yellow b-left b-right b-bottom d-flex justify-content-center">
                      <span>{{deliveryNoteData.typeIva }}% IVA:</span>
                    </td>
                    <td class="bg-white b-bottom d-flex costo">
                      <span>{{(deliveryNoteData.amount * deliveryNoteData.typeIva /100)}}€</span>
                    </td>
                  </tr>
                  <tr>
                    <td></td>
                    <td></td>
                    <td class="bg-yellow b-left b-right justify-content-center">
                      <span>TOTAL:</span>
                    </td>
                    <td class="bg-purple costo">
                      <span>{{deliveryNoteData.amount + (deliveryNoteData.amount * deliveryNoteData.typeIva /100)}}€ </span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </tr>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="div-input-email">
    <form class="form-input-email">
      <div class="div-label-input-email">
        <label for="email-albaran">Escribe correo de cliente</label>
        <input [(ngModel)]="emailPdf" [ngModelOptions]="{standalone: true}" id="email-albaran" type="email" placeholder="correo@correo.com" name="emailPdf">
      </div>
      <button (click)="sendPdfToEmail()" class="button-email-albaran" type="submit" >Envíar</button>
    </form>
  </div>
</section>