<div  class="sectionPdf">
  <div class="sectionPdf__icons">
    <figure class="icon" (click)="downloadPdf()">
      <app-create-icon [class]="'color-gray bg-white button'" [name]="'download'" [url]="'../../../../assets/svg_2/descargar.svg'"></app-create-icon>
    </figure>
    <figure class="icon" (click)="onPrint()">
  
      <app-create-icon [class]="'color-gray bg-white button'" [name]="'print'" [url]="'../../../../assets/svg_2/impresora.svg'"></app-create-icon>
    </figure>
    <figure class="icon exit" (click)="emitEvent()">
      <app-create-icon [class]="'color-red bg-white'" [name]="'cancel'" [url]="'../../../../assets/svg_2/cancelar.svg'"></app-create-icon>
    </figure>
  </div>
  <div class="sectionPdf__viewpdf " id="pdf_factura_idUser">
  <section class="pdf">
      <header class="pdf__header">
        <div class="title">
          <div>
            <h1 class="name">PERSIANAS Y TOLDOS</h1>
          </div>
          <div>
            <figure class="logo"><img src="../../../../assets/images/logo-color.png" alt="Torre fiel"></figure>
          </div>
        </div>
        <div class="info">
          <div class="mb-3">
            <span><b>Persionas y Toldos Torrefiel, CB</b></span><br>
            <span>c/ Librero Esclapes, 2 Bajo dcha.</span><br>
            <span>46019- Valencia</span><br>
            <span>CIF: E97681472</span>
          </div>
          <div>
            <span>Telf.: 961337760</span><br>
            <span>963284410</span><br>
            <span>Correo electrónico: <a href="mailto:info@mejorarhogar.com">info@mejorarhogar.com</a></span>
          </div>
        </div>
      </header>
      <section class="pdf__services">
        <div class="one">
          <p class="purple">Persianas</p>
          <p>Toldos</p>
          <p class="purple">Ventanas</p>
          <p>Mosquiteras</p>
          <p class="purple">Electricidad</p>
        </div>
        <div class="two">
          <p>Mamparas de<br>baño</p>
          <p class="purple">Decoración</p>
          <p>Rejas</p>
          <p class="purple">Motorizaciones</p>
          <p>Reparaciones<br> a domicilio</p>
        </div>
      </section>
      <main class="pdf__main">
        <section class="data">
          <div class="data__contain">
            <div class="data__contain--item">
              <span><b>Fecha de emisión: </b> {{deliveryNoteData.startDate.split('T')[0]}}</span>
            </div>
            <div class="data__contain--item"><span>N° Factura:</span></div>
           
            <div class="data__contain--item"><span> {{deliveryNoteData.numBill}} </span></div>
          </div>
          <div class="data__contain">
            <div class="data__contain--item"><span><b>Cliente: </b>{{ deliveryNoteData.name }} {{ deliveryNoteData.lastName }} {{ deliveryNoteData.motherLastName }}</span></div>
            <div class="data__contain--item"><span>Teléfono 1:</span></div>
            <div class="data__contain--item"><span>{{ deliveryNoteData.phoneOne }}</span></div>
          </div>
          <div class="data__contain">
            <div class="data__contain--item"><span><b>Correo electronico: </b>{{ deliveryNoteData.email }}</span></div>
            <div class="data__contain--item"><span>Teléfono 2:</span></div>
            <div class="data__contain--item"><span>{{ deliveryNoteData.phoneTwo }}</span></div>
          </div>
          <div class="data__contain">
            <div class="data__contain--item"><span><b>Dirección trabajos: </b>{{ deliveryNoteData.direction }} #{{ deliveryNoteData.numberExternal }}</span></div>
            <div class="data__contain--item"><span>Población:  {{ deliveryNoteData.province }} <br>{{ deliveryNoteData.municipality }}</span></div>
            <div class="data__contain--item"><span>C.P. {{ deliveryNoteData.postalCode}}</span></div>
          </div>
        </section>
        <section class="info">
          <div class="title">
            <p><span>FACTURA</span></p>
          </div>

          <div>
            <div class="titulos-texto">
              <div class="bg-purple mb-0 col-2"><span>UND</span></div>
              <div class="bg-purple mb-0 col-6"><span>DESCRIPCIÓN</span></div>
              <div class="bg-purple mb-0 col-2"><span>PRECIO/UND</span></div>
              <div class="bg-purple mb-0 col-2"><span>SUBTOTAL</span></div>
            </div>
            <div class="texto">
              <div class="col-2 mb-0 b-right"><span>1</span></div>
              <div class="col-6 mb-0 b-right"><span>Detalle del Producto</span></div>
              <div class="col-2 mb-0 right b-right"><span>{{ deliveryNoteData.amount }}€</span></div>
              <div class="col-2 mb-0 right b-right"><span>{{ deliveryNoteData.amount }}€</span></div>
            </div>
            <div class="data__contain">
              <div class="data__contain--item2  col-8"><span>IMPORTE TOTAL</span></div>
              <div class="data__contain--item2  col-2"><span>Base imp.:</span></div>
              <div class="col-2 right b-right"><span>{{ deliveryNoteData.amount }}€</span></div>
            </div>
            <div class="texto2">
              <div class="col-8 b-left"></div>
              <div class="data__contain--item2  col-2"><span>{{deliveryNoteData.typeIva}}% IVA:</span></div>
              <div class="col-2 right b-right"><span>{{(deliveryNoteData.amount * deliveryNoteData.typeIva /100)}}€</span></div>
            </div>
            <div class="data__contain">
              <div class="col-8 b-left b-bottom"></div>
              <div class="data__contain--item2  col-2"><span>TOTAL</span></div>
              <div class="data__contain--item2 right col-2 purple"><span>{{(deliveryNoteData.amount*deliveryNoteData.typeIva/100) + deliveryNoteData.amount }}€</span></div>
            </div>
          </div>
        </section>
      </main>
    </section>
  </div>
  <div class="div-input-email">
    <form class="form-input-email">
      <div class="div-label-input-email">
        <label for="email-albaran">Escribe correo de cliente</label>
        <input [(ngModel)]="emailPdf" [ngModelOptions]="{standalone: true}" id="email-albaran" type="email" placeholder="correo@correo.com" name="emailPdf">
      </div>
      <button (click)="sendPdfToEmail()" class="button-email-albaran" type="submit" >Envíar</button>
    </form>
  </div>
</div>