@import '../../../assets/scss/variables';
@import '../../../assets/scss/components/loginAndRegister';

.login-and-register{
    min-height: 100vh;
    background: url('../../../assets/images/bg.png') center center fixed;
    background-size: cover;

    [role=login], [role=register]{
      height: inherit;
      padding-top: 15%;
      padding-bottom: 15%;
    }

    [role=login]{
      @extend %section-red;
    }

    .createAccount{
      width: 100%;
      height: 30px;
      text-align: center;
      margin-top: 15px;

      &__btn{
        padding: 16px 35px;
        border: none;
        border-radius: 4.6px;
        color: white;
        background-color: $color-black-middle;

        @extend %boxShadow;
      }
    }

    [role=register]{
      @extend %section-red;

      .section__red{
        width: 60%;
        max-width: 700px;
  
          &--logo{
            position: relative;
            .exit{
              position: absolute;
              top: 0;
              right: 0;
              padding: 0;
              height: 40px;
              width: 40px;
              cursor: pointer;

              svg{
                stroke: white !important;
                stroke-width: 2px !important;
                path{
                  stroke: white !important;
                  stroke-width: 2px !important;
                }
              }
            }
          }
  
          &--inputs{
            .section-two-inputs{
              display: flex;
              justify-content: space-between;
              .contain-input{
                width: 43%;
              }
            }
          }
  
          &--register{
            @extend %btn-black;
            width: 50%;
            margin-top: 15px;
          }
      }
    }
}

.eye{
  @extend %eye;
}

.alert__contain{
  box-shadow: 0 2px 5px 4px #0000006b;
}