<section>
  <header>
    <h3>Chat de seguimiento</h3>
    <figure><img src="../../../../assets/svg/cancelar.svg" alt=""></figure>
  </header>
  <main class="chat">
    <span class="chat__date">MIER - 14:48PM</span>
    <div class="chat__you">
      <span>el cliente no abre, que hago?</span>
    </div>
    <div class="chat__other">
      <img src="../../../../assets/svg/avatar.svg" alt="">
      <span>ok, espera 5 min. Voy a localizarla</span>
    </div>
    <div class="chat__you">
      <span>ok espero, sino que hago? 👱👱</span>
    </div>
    <div class="chat__other">
      <img src="../../../../assets/svg/avatar.svg" alt="">
      <span>sino, presiona visitado aqui y vete</span>
    </div>
    <div class="chat__you">
      <span>Perfecto así haré</span>
    </div>
  </main>
  <footer>
    <figure><img src="../../../../assets/svg/visitado.svg" alt="visitado"></figure>
    <div>
      <input type="text" placeholder="Mensaje">
      <figure><img src="../../../../assets/svg/comentar.svg" alt="chat"></figure>
    </div>
  </footer>
</section>