<section class="sectionChat">
  <header class="sectionChat__header">
    <h3>Chat de seguimiento</h3>
    <figure class="icon exit" (click)="emitEvent()">
      <app-create-icon [class]="'color-white'" [name]="'cancel'" [url]="'../../../../assets/svg_2/cancelar.svg'"></app-create-icon>
    </figure>
  </header> 
  <main class="sectionChat__main" autoscroll="true" id="main">
    <div class="sectionChat__main--containChat">
      <div style="display: block;" [ngClass]="itemMessage.person === 'admin' ? 'chat__other':'chat__me'" *ngFor="let itemMessage of allMessages">   
        <div class="text-center date">
          <span class="chat__date" style="display: inline-flex;  margin-top: 15px;">{{itemMessage.createdAt.split('T')[0]}} a las {{itemMessage.createdAt.split('T')[1].split('.')[0]}}</span>
        </div>
        <div class="burbuja" style="display: flex; flex-wrap: wrap; flex-direction: column; justify-content: space-between; float: right;">
          <span>{{itemMessage.user.userName}}:</span>
          <span>{{itemMessage.text}}</span>
        </div>
      </div>
    </div>
  </main>
  <footer class="sectionChat__footer">
    <div class="input">
      <label for="">
        <input type="text" placeholder="Escribe un mensaje" name="newMessageMe" #newMessageMe="ngModel" [(ngModel)]="newMessage" (keyup.enter)="sendMessage()">
        <figure class="icon">
          <app-create-icon [class]="'color-gray'" [name]="'chat'" [url]="'../../../../assets/svg_2/comentar.svg'"></app-create-icon>
        </figure>
      </label>
    </div>
  </footer>
</section>