<main class="main">
  <section class="main__section">
    <div class="main__section--buttons">
      <button class="button active"><h1>Trabajos</h1></button>
      <button class="button"><h1>Dar alta servicio</h1></button>
      <button class="button"><h1>Administrador</h1></button>
    </div>
    <div class="viewOptions">
      <div class="job">
        <app-jobs-view></app-jobs-view>
      </div>
      <div class="service">
        <app-create-services></app-create-services>
      </div>
      <div class="admin">
        <app-admin-view></app-admin-view>
      </div>
    </div>
  </section>
</main>