@import '../../../assets/scss/variables';

.main{
  padding-top: 117px;
  &__section{
    width: 90%;
    margin: auto;
    background-color: $color-black-middle;
    margin-bottom: 40px;
    max-width: 1200px;
    min-height: 550px;

    &--buttons{
      width: 100%;
      height: 85px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: $color-white;
      padding-bottom: 2px;

      .button{
        width: 33.2%;
        height: 100%;
        border: none;
        outline: none;
        background-color: $color-gray;

        &:focus, &:active{
          outline: none;
        }

        &.active{
          background-color: $color-red;
        }

        h1{
          font-size: 1.7rem;
          margin-bottom: 0;
          color: white;
        }
      }
    }

    .viewOptions{
      position: relative;
      &.jobs{
        padding: 41px 100px 20px 49px;
      }

      &.createService, &.admin{
        padding: 20px 40px;
      }
    }
  }
}

@media (max-width: 780px) { 

  .main{
      padding-top: 10px;
    &__section{
      width: auto;
      min-height: 1300px !important;
      &--buttons{ 
        position: relative;
        z-index: 9;
        display: table;
        .button{
          display: table-cell;
          width: 100%;
          h1{
            font-size: 1.5rem;
          }
        }
      } 
    }

    .viewOptions{
      position: relative;
      z-index: 6;
      &.jobs{
        padding: 180px 10px 20px 10px;
      }
      &.admin{
        padding: 20px 20px !important;
      }
    }
  }
}