@import '../../../assets/scss/variables';

.main{
  padding-top: 117px;
  &__section{
    width: 90%;
    margin: auto;
    background-color: $color-black-middle;

    &--buttons{
      width: 100%;
      height: 85px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: $color-white;
      padding-bottom: 2px;

      .button{
        width: 33.2%;
        height: 100%;
        border: none;
        outline: none;
        background-color: $color-gray;

        &:focus, &:active{
          outline: none;
        }

        &.active{
          background-color: $color-red;
        }

        h1{
          font-size: 1.7rem;
          margin-bottom: 0;
          color: white;
        }
      }
    }

    .viewOptions{
      padding: 41px 100px 20px 49px;
      
      .job{

      }

      .service{

      }

      .admin{

      }
    }
  }
}