<section class="sectionImages">
  <header class="sectionImages__icons">
    <figure class="icon exit" (click)="emitEvent()">
      <app-create-icon [class]="'color-white'" [name]="'cancel'" [url]="'../../../../assets/svg_2/cancelar.svg'"></app-create-icon>
    </figure>
  </header>
  <main class="sectionImages__body">
    <div class="sectionImages__body--containImgs">
      <div class="img__contain" *ngFor="let image of allImages">
        <div style="display: flex; flex-wrap: wrap;">
          <figure class="image"  *ngFor="let img of image.images" style="width: 50%; padding: 4px;">
            <img [src]="img" alt="imagen">
          </figure>
        </div>
        <div style="display: flex; justify-content: center;">
          <span style="color: white; margin-bottom: 10px;">{{ image.description }}</span>
        </div>
      </div>
    </div>
   
  </main> 
  <footer class="sectionImages__footer">
  <div class="container-preview">
    <div class="img-preview" *ngFor="let url of imgsPreview">
      <img [src]="url" alt="Girl in a jacket" width="500" height="600">
    </div>
  </div>
   <div style="display: flex; justify-content: space-between; width: 100%;">
   <div style="display: flex; width: 80%;">
      <label for="file-upload" class="subir">
        <figure class="description__icons--icon">
          <app-create-icon [class]="'color-gray bg-white button h-color-red p-7'" [name]="'img'" [url]="'../../../assets/svg_2/img-firma.svg'" ></app-create-icon>
        </figure>
      </label>
      <input id="file-upload" multiple type="file" style="display: none; " (change)="selectFile($event)"/>
      <div class="container-input-text" style="width: 100%;"> 
        <input type="text" id="text" (keyup.enter)="uploadImgs($event.target.value) "> 
      </div>
   </div>
   
    <figure class="icon descarga" (click)="downloadImages()">
      <app-create-icon [class]="'color-gray bg-white button'" [name]="'download'" [url]="'../../../../assets/svg_2/descargar.svg'"></app-create-icon>
    </figure>
   </div>
  </footer>
</section>