.sectionImages{

  &__icons{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-top: 3px;
    padding-bottom: 6px;

    .icon{
      width: 31px;
      height: 33px;
      margin-bottom: 0;
      margin-right: 7px;
    }
  }

  figure{
    margin: 0px !important;
  }

  &__body{
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
    height: 300px;
    overflow-y: scroll;

    &--containImgs{
      height: 100%;
      display: flex;
      flex-wrap: wrap;
      

      .img__contain{
        flex-wrap: wrap;
        position: relative;
        width: 100%;
    
  
        .descarga{
          width: 23px;
          height: 29px;
          position: absolute;
          top: 5px;
          right: 7px;
        }
  
        .image{
          width: 100%;
          height: 115px;
          
          img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
          }
        }
  
        .info{
          text-align: center;
          color: white;
          font-size: .8rem;
          overflow-y: scroll;
        }
      }
    }
  }

  &__footer{
    color: white;
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0;
    min-height: 60px;
    text-align: center;
    vertical-align: middle;
    
    .info{
      height: 60px;
      overflow-y: auto;
      display: flex;
      justify-content: center;
      align-content: center;
      flex-direction: column;
    }

    figure{
      width: 30px;
      height: 30px;
      margin-bottom: 0;
      margin-right: 7px;
      display: block;
      margin: auto;
    }
  }
}

@media(max-width:780px){
  .info{
    height: 30px;
  }
}

