<section class="sectionImages">
  <header class="sectionImages__icons">
    <figure class="icon exit" (click)="emitEvent()">
      <app-create-icon [class]="'color-white'" [name]="'cancel'" [url]="'../../../../assets/svg_2/cancelar.svg'"></app-create-icon>
    </figure>
  </header>
  <main class="sectionImages__body">
    <div class="sectionImages__body--containImgs">
      <div class="img__contain" *ngFor="let image of allImages">
       <!--  <figure class="icon descarga" (click)="downloadImage(image.url, image.name, image.message)">
          <app-create-icon [class]="'color-gray bg-white button'" [name]="'download'" [url]="'../../../../assets/svg_2/descargar.svg'"></app-create-icon>
        </figure> -->
       <!--  <a  download target="_blank">
        </a> -->
        <figure class="image">
          <img [src]="image.url" alt="imagen">
        </figure>
      </div>
    </div>
   
  </main>
  <footer class="sectionImages__footer">
    <div class="info">
      <span>Descripción del trabajo</span>
    </div>
    
   <div>
    <figure class="icon descarga">
      <app-create-icon [class]="'color-gray bg-white button'" [name]="'download'" [url]="'../../../../assets/svg_2/descargar.svg'"></app-create-icon>
    </figure>
    <span>Descargar</span>
   </div>
    
  </footer>
</section>