<div class="description">
  <div class="arriba">
    <div>
      <span>#1151172</span>
      <span>Servihogar 24 horas Valencia</span>
      <div>
        <label for="">Urgente</label>
        <input type="checkbox" value="true">
      </div>
    </div>
    <div>
      <span class="etapa">Pendiente de presupuesto</span>
      <span class="date">00/00/2020 | date</span>
      <span class="precio">0.000$</span>
    </div>
    <div>
      <span class="direccion">
        Risueño Abril Juan José C/ Músico Cabanilles 32 P.24 46017. Valencia. 690 319 479
      </span>
    </div>
  </div>
  <div class="abajo">
    <h2>PERSIONISTA</h2>
    <p>descripcion</p><h2>SERVICIO SHOT</h2>
    <h2>LIBERTY SEGUROS</h2>
    <P>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi totam pariatur temporibus cupiditate molestias tempore sunt quam voluptatum perferendis laborum. Voluptates architecto temporibus, ad labore adipisci deleniti ipsa! Sit, exercitationem?
    </P>
  </div>
</div>
<div>
  <div>
    <figure><img src="../../../../assets/svg/albaran.svg" alt="icono Albarán"></figure>
    <span>Albarán</span>
  </div>
  <div>
    <figure><img src="../../../../assets/svg/factura.svg" alt=""></figure>
    <span>Factura</span>
  </div>
  <div>
    <figure><img src="../../../../assets/svg/calendario.svg" alt=""></figure>
    <span>Calendario</span>
  </div>
  <div>
    <figure><img src="../../../../assets/svg/comentar.svg" alt=""></figure>
    <span>Chat seguimiento</span>
  </div>
  <div>
    <figure><img src="../../../../assets/svg/img.svg" alt=""></figure>
    <span>Imagenes cliente</span>
  </div>
  <div>
    <figure><img src="../../../../assets/svg/firma.svg" alt=""></figure>
    <span>Firma cliente</span>
  </div>
  <div>
    <figure><img src="../../../../assets/svg/note.svg" alt=""></figure>
    <span>Nota interna</span>
  </div>
</div>