<div class="description">
  <div class="description__info">
    <div class="up">
      <div class="upContain">
        <span class="info code f-bold">#1151172</span>
        <span class="info hours">Servihogar 24 horas Valencia</span>
        <div>
          <label for="priority" class="info priority">
            Urgente
            <input class="d-none" type="checkbox" value="true" name="priority">
          </label>
        </div>
      </div>
      <div class="upContain">
        <span class="info stage f-bold">Pendiente de presupuesto</span>
        <span class="info date">00/00/2020 | date</span>
        <span class="info price">0.000$</span>
      </div>
      <div class="upContain">
        <span class="info direction">
          Risueño Abril Juan José C/ Músico Cabanilles 32 P.24 46017. Valencia. 690 319 479
        </span>
      </div>
    </div>
    <div class="dowm">
      <h2>PERSIONISTA</h2>
      <div class="descriptionService">
        <p>Descripcion:</p><h2>SERVICIO SHOT</h2>
      </div>
      <h2>LIBERTY SEGUROS</h2>
      <P>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi totam pariatur temporibus cupiditate molestias tempore sunt quam voluptatum perferendis laborum. Voluptates architecto temporibus, ad labore adipisci deleniti ipsa! Sit, exercitationem?
      </P>
    </div>
    <div class="sectionMenu">
      <div class="pdf delivery-note d-flex justify-content-center" *ngIf="sectionMenuShow === DELIVERYNOTE">
        <app-delivery-note class="w-100"></app-delivery-note>
      </div>
      <div class="bill delivery-note d-flex justify-content-center" *ngIf="sectionMenuShow === BILL">
        <app-bill class="w-100"></app-bill>
      </div>
      <div class="calendar" *ngIf="sectionMenuShow === CALENDAR">
        <app-calendar class="w-100"></app-calendar>
      </div>
      <div class="chat" *ngIf="sectionMenuShow === CHAT">
        <app-chat class="w-100"></app-chat>
      </div>
      <div class="images" *ngIf="sectionMenuShow === IMAGES">
        <app-images class="w-100"></app-images>
      </div>
      <div class="firm" *ngIf="sectionMenuShow === FIRM">
        <app-firm class="w-100"></app-firm>
      </div>
      <div class="note" *ngIf="sectionMenuShow === NOTE">
        <app-note class="w-100"></app-note>
      </div>
    </div>
  </div>
  <div class="description__icons">
    <figure class="description__icons--icon" [ngClass]="{'active': sectionMenuShow === DELIVERYNOTE}" (click)="sectionMenuShow = DELIVERYNOTE">
      <app-create-icon [class]="'color-gray bg-white button h-color-red'" [name]="'delivery-note'" [url]="'../../../assets/svg/albaran-menu.svg'"></app-create-icon>
      <div class="hoverIcon fadeIn">
        Albarán
      </div>
    </figure>
    <figure class="description__icons--icon" [ngClass]="{'active': sectionMenuShow === BILL}" (click)="sectionMenuShow = BILL">
      <app-create-icon [class]="'color-gray bg-white button h-color-red'" [name]="'bill'" [url]="'../../../assets/svg/file.svg'"></app-create-icon>
      <div class="hoverIcon fadeIn">
        Factura
      </div>
    </figure>
    <figure class="description__icons--icon" [ngClass]="{'active': sectionMenuShow === CALENDAR}" (click)="sectionMenuShow = CALENDAR">
      <app-create-icon [class]="'color-gray bg-white button h-color-red'" [name]="'calendar'" [url]="'../../../assets/svg/calendario.svg'"></app-create-icon>
      <div class="hoverIcon fadeIn">
        Calendario
      </div>
    </figure>
    <figure class="description__icons--icon" [ngClass]="{'active': sectionMenuShow === CHAT}" (click)="sectionMenuShow = CHAT">
      <app-create-icon [class]="'color-gray bg-white button h-color-red'" [name]="'chat'" [url]="'../../../assets/svg/comentar.svg'"></app-create-icon>
      <div class="hoverIcon fadeIn">
        Chat
      </div>
    </figure>
    <figure class="description__icons--icon" [ngClass]="{'active': sectionMenuShow === IMAGES}" (click)="sectionMenuShow = IMAGES">
      <app-create-icon [class]="'color-gray bg-white button h-color-red p-7'" [name]="'img'" [url]="'../../../assets/svg/img-firma.svg'"></app-create-icon>
      <div class="hoverIcon fadeIn">
        Imagenes cliente
      </div>
    </figure>
    <figure class="description__icons--icon" [ngClass]="{'active': sectionMenuShow === FIRM}" (click)="sectionMenuShow = FIRM">
      <app-create-icon [class]="'color-gray bg-white button h-color-red p-7'" [name]="'firm'" [url]="'../../../assets/svg/firma-vector.svg'"></app-create-icon>
      <div class="hoverIcon fadeIn">
        Firma cliente
      </div>
    </figure>
    <figure class="description__icons--icon" [ngClass]="{'active': sectionMenuShow === NOTE}" (click)="sectionMenuShow = NOTE">
      <app-create-icon [class]="'color-gray bg-white button h-color-red'" [name]="'note'" [url]="'../../../assets/svg/note-intern.svg'"></app-create-icon>
      <div class="hoverIcon fadeIn">
        Nota interna
      </div>
    </figure>
  </div>
</div>