@import '../../../../assets/scss/variables';
@import '../../../../assets/scss/components/hoverIcon';

.description{
  height: 465px;
  background-color: $color-white;
  display: flex;
  border-radius: 16px;

  &__info{
    .up{
      height: 47%;
      padding: 13px;
  
      &Contain{
        display: flex;
        align-items: center;
        padding: 4px;
        justify-content: space-between;
        width: 66%;
        margin-left: 10%;
        margin-bottom: 7px;
        width: 78.5%;
  
        .info{
          background-color: $color-gray;
          padding: 12px 19px;
          border-radius: 15px;
          text-align: center;
  
          &.hours{
            width: 55%;
          }
          &.priority{
            width: 129px;
            margin-bottom: 0;
          }
          &.stage{
            width: 53%;
          }
          &.direction{
            width: 100%;
          }
        }
      }
    }
  
    .dowm{
      background-color: $color-gray;
      padding: 23px 28px;
      border-radius: 15px;
      width: 91%;
      margin: auto;
      margin-top: 15px;
  
      .descriptionService{
        margin-bottom: 3px;
        display: flex;
        align-items: center;
        p{
          margin-right: 5px;
          margin-bottom: 0;
        }
        h2{
          display: inline;
        }
      }
  
      h2{
        font-size: 1rem;
        margin-bottom: 3px;
      }
    }
  }

  &__icons{
    width: 25%;
    background-color: $color-red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;

    &--icon{
      margin-bottom: 0;
      width: 40px;
      height: 38px;
      position: relative;
      transition: all 0.5s;
      margin-top: 5px;
  
      &:hover{
        .hoverIcon{
          display: block !important;
        }
      }
  
      .hoverIcon{
        @extend %hoverIcon;
        display: none;
        bottom: inherit;
        left: 115%;
        top: 9%;
        right: auto;
        width: max-content;
      }
    }
  }
}

.w-inherit{
  width: inherit;
}  

.f-bold{
  font-weight: bold;
}