@import '../../../../assets/scss/variables';

%titleUser{
  font-size: 1.75rem;
  color: #cd2a00;
  background-color: #c1c1c8;
  padding: 12px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  box-shadow: 0 3px 8px 3px #0000001f;
  width: 75%;
  height: 70px;

  h4, p{
    font-size: 1rem;
    margin: 0;
    margin-left: 8px;
  }

  figure{
    width: 35px;
    height: 35px;
    margin: 0;
  }
}

.sectionClient{
  padding: 25px;
  background-color: white;
  border-radius: 4.5px;
  height: 100%;

  .section-title{
    text-align: center;
    h3{
      color: #cd2a00;
      font-weight: bold;
      letter-spacing: 1px;
      font-size: 1.5rem;
    }
  }

  .search{
    border-radius: 13px;
    display: flex;
    padding: 3px 5px;
    overflow: hidden;
    margin: 20px auto;
    width: 80%;
    box-shadow: 0 3px 4px 1px #0000001f;

    figure{
      width: 33px;
      height: 25px;
      margin: 0;
    }

    input{
      border: none;
      outline: none !important;
      width: 65%;
    }
  }

  .list{
    margin-top: 30px;

    .client__contain{
      background-color: #c1c1c8;
      padding: 15px 12px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-radius: 6px;
      box-shadow: 0 3px 8px 3px #0000001f;
      margin-bottom: 2rem;

      &--title{
        font-size: 1rem;
        color: #cd2a00;

        h4, p{
          font-size: 1rem;
          margin: 0;
        }
      }

      &--icon{
        padding: 5px;
        padding-top: 6px;
        background-color: white;
        border-radius: 5px;
        font-size: .8rem;
        font-weight: bold;
        font-weight: bold;
        text-align: center;
        box-shadow: 0 2px 5px 1px #00000057;
        cursor: pointer;
      }
    }
  }
}

.containService{
  min-height: 525px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;

  form{
    width: 100%;
    display: flex;
    position: relative;
  }

  .form{
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    border-radius: 16px;
    min-height: 525px;
    width: 100%;
    position: absolute;
    left: 0;
    margin: auto;
    z-index: 1;
    align-items: center;
    justify-content: center;
  }

  option{
    padding: 10px 5px;
  }

  .color-red{
    color: red;
  }
  .border-red{
    border-color: red;
  }

  .icon{
    width: 20px;
    height: 22px;
    padding: 0px 4px 0px 4px;
    background-color: $color-white;
    overflow: hidden;
    border-radius: 5px;
    margin-bottom: 0;
    margin-right: 8px;
  }

  .buttons{
    position: relative;
    figure{
      width: 22px;
      height: 24px;
      position: absolute;
      margin: 0;
      right: 12%;
      top: 14%;
    }

    .buttonSave{
      border: none;
      padding: 7px 15px;
      background-color: #cd2a00;
      border-radius: 6px;
      color: white;
      font-size: .8rem;
      width: 84%;
      box-shadow: 0 2px 5px 1px #00000042;
      outline: none;
    }
  }

  .w-fix-content{
    width: fit-content;
  }

  &__data{
    padding: 20px 10px;
    padding-left: 35px;
    width: 70%;

    .title{
      font-size: 1rem;
      color: $color-red;
    }

    .client, .date{
      display: flex;
    }

    .date{
      width: 53%;
      .dateContain{
        width: 36%;
        margin-right: 10px;
      }
      .icon{
        width: 40px;
        height: 40px;
        position: absolute;
        bottom: 0;
        margin: 0;
        right: 3px;
      }
    }

    .client{
      justify-content: space-between;
    }

    label,p{
      margin-bottom: 3px;
      display: block;
      color: white;
      font-size: 2rem;
    }

    input, select, textarea{
      height: 39px;
      border-radius: 5px;
      border: 1px solid black;
      padding: 5px 10px;
      padding-right: 0;
    }

    .input__contain{
      font-size: .8rem;
      width: auto;
      position: relative;
    }

    .name{
      max-width: 100px;

      input{
        width: 100%;
      }
    }

    .code{
      width: 18%;
    }

    .statusService{
      input, select{
        max-width: 160px;
      }
    }
  }

  .direccion{
    .title{
      padding: 2rem 0 1rem;
      font-size: 1rem;
      color: #cd2a00;
    }

    .max-width-95{
      max-width: 95px;
    }

    .max-width-60{
      max-width: 70px;
    }
    .w-200{
      width: 200px;
    }
    .w-100{
      width: 100px;
    }

    .mr-12{
      margin-right: 12%;
    }
  }

  &__aside{
    justify-content: center;
    width: 28%;
    padding: 10px 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    color: white;

    .buttons{
      margin-bottom: 1rem;
      .buttonSave{
        padding: 8px 19px 9px;
        width: fit-content;
        font-size: 1.5rem;
      }
      .buttonBefore{
        border: none;
        padding: 7px 15px;
        background-color: #5b5b5f;
        border-radius: 6px;
        color: white;
        font-size: 1.2rem;
        width: fit-content;
        box-shadow: 0 2px 5px 1px #00000042;
        outline: none;    
      }
    }

    .spanDirectionEqual{
      font-size: .7rem;
      font-weight: bold;
    }

    .tmn-max{
      font-size: .7rem;
      padding-left: 14%;
    }

    .addEmployee{
      padding: 20px;
      font-size: .9rem;

      .input__contain{
        display: flex;
        flex-wrap: wrap;
        font-size: .8rem;
        width: inherit;
        position: relative;
      }

      select{
        height: 45px;
        border-radius: 5px;
        border: 1px solid black;
        padding: 5px 10px;
        width: 88%;
      }
    }

    &.saveService{
      .buttons{
        margin-bottom: 1rem;
        .buttonSave{
          font-size: 1rem;
          min-width: 220px;
          margin-bottom: 1.5rem;
        }
        .buttonBefore{ 
          font-size: .9rem;  
        }
      }
      .icon{
        position: relative !important;
        margin: auto !important;
        left: 0 !important;
        top: 0 !important;
        overflow: inherit !important;
        padding: 0 !important;
        padding-bottom: 5px !important;
        margin-top: 5px !important;
      }
    }
  }

  .descriptionService{
    align-items: flex-end;
  }

  .w-90{
    width: 90% !important;
  }
  .w-95{
    width: 95% !important;
  }
  .h-85{
    height: 85px !important;
  }
  
  .no-exist{
    font-weight: bold;
    margin: 0;
    margin-top: 1rem;
  }
}

.services{

  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  
 /*  width: 390px; */
  position: absolute;
  left: 12px;
  right:12px;
  margin: auto;
  height: 595px;
  overflow: hidden;
  padding: 30px;
  color: white;

  &__header{ 
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .title{
      @extend %titleUser;
      width: 50%;
    }

    .button{
      border: none;
      padding: 7px 12px;
      color: black;
      background-color: white;
      border-radius: 7px;
      box-shadow: 0 2px 15px 1px #00000087;
      font-weight: bold;
      font-size: 0.8rem;
      padding-top: 9px;
    }
  }

  &__main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100% !important;
    margin-top: 30px;

    &--title{
      width: 100%;
      text-align: center;
      padding: 15px;
      margin-top: 5px;
      margin-bottom: 15px;
    }

    .service{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 32px;

      .left{
        color: #cd2a00;
        background-color: #c1c1c8;
        width: 100% !important;
        padding: 10px 13px;
        font-size: 0.8rem !important;
        border-radius: 4px;
        border: none;
        margin-right: 20px;

        p{
          margin-bottom: 5px;
        }

        .one{
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          flex-direction: column;

          p{
            margin: 0;
          }
        }

        .reAsignar{
          display: flex;
          justify-content: center;
          align-items: center;
          flex-wrap: wrap;

          p{
            margin-bottom: 7px;
            color: black;
            font-weight: bold;
          }

          select{
            padding: 8px 10px;
            border-radius: 3px;
            outline: none !important;
            min-width: 130px;
          }
        }
        
      }

      .button{
        button{
          border: none;
          font-size: .8rem;
          padding: 6px 12px;
          color: white;
          background-color: #cd2a00;
          border-radius: 7px;
          box-shadow: 0 2px 15px 1px #00000087;
          padding-top: 7px;
        }
      }
    }
  }  
}

.pt-6x100{
  padding-top: 6%;
}

.exit{
  position: absolute;
  width: 40px;
  height: 40px;
  top: 0;
  right: 0;
  padding: 0;
  cursor: pointer;
}
.priority-label{
  
  .info{
    background-color: white !important;
    color: black; 
  }
  .urgent{
    background-color: #cd2a00 !important;
    color: white;
  }
}

.info {
  background-color: $color-gray;
  padding: 5px 10px;
  border-radius: 5px;
  text-align: center;
}

.clientAndStatus {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: relative;
}

.priority-label {
  position: absolute;
  right: 0 !important;
}

.containService__data{
  .input__contain{
    margin-right: 25px;
  }
}

@media (max-width: 1024px){
  .buttonSave{
    font-size: 1rem !important;
  }
  .input__contain{
    input{
      font-size: .6rem;
    }
    label{
      font-size: .7rem !important;
    }
  }
  

}

@media (max-width: 780px){
  .containService{
    &__data{
    padding: 20px 10px;
    padding-left: 10px;
    }
  }
  .section-title{
    h3{
      font-size: 1rem !important;
    }
  }
  .client__contain{
    display: block !important;
  }
  p{
    font-size: .8rem !important;
  }
  .sectionClient{
    padding: 10px;
  }
  .containService__data{
    .input__contain{
      margin-right: 15px;
    }
  }
}


@media (max-width: 481px){
  .services{
     padding: 15px 15px;
    }
  .section-title{
    h3{
      font-size: .8rem !important;
      margin-bottom: 40px;

    }
  }
  .sectionClient{
    padding: 5px;
  }

  .services{
    .urgent {
      top: -40px;
     }
     .info {
       top: -40px;
      }
  }
  
  .left{
    margin-bottom: 20px;
  }

}

.containService__data{

  label{
    font-size: .8rem;
  }
}