<!--Monstrar cliente-->
<section class="sectionClient">
  <div class="section-title">
    <h3>TUS CLIENTES</h3>
  </div>
  <div class="search">
    <figure class="icon">
      <app-create-icon [class]="'color-gray'" [name]="'search'" [url]="'../../../../assets/svg_2/buscar.svg'"></app-create-icon>
    </figure>
    <input type="search" placeholder="Buscar" name="search" [(ngModel)]="searchClient" autocomplete="off" placeholder="Buscar cliente" style="font-size: .8rem;">
  </div>
  <div class="list">
    <div class="client__contain" *ngFor="let client of allClients | filter:searchClient">
      <div class="client__contain--title">
        <h4>N° {{client.numClient}}</h4>
        <p>{{ client.name }} {{ client.lastName }} {{client.motherLastName }}</p>
        <p>{{client.createdAt | date}}</p>
      </div>
      <div>
        <div class="client__contain--icon mb-3" (click)="editClient(client, EDITUSER)">
          Editar
        </div>
        <div class="client__contain--icon" (click)="showServices(client, SERVICES)">
          Servicios
        </div>
      </div>
    </div>
    <div class="client__contain" *ngIf="!allClients">
      <div class="client__contain--title d-flex justify-content-center text-center w-100">
        <h4>No existen clientes</h4>
      </div>
    </div>
  </div>
</section>

<app-alert class="alertCenter" [alertUrlIcon]="alertUrlIcon" [alertShow]="alertShow" [alertHeader]="alertHeader" [alertTitle]="alertTitle" [alertSubtitle]="alertSubtitle"></app-alert>

<!--Editar cliente-->
<section class="containService" *ngIf="show === OPTIONS">
  <form class="p-3 form" #userForm="ngForm" *ngIf="showView === EDITUSER">
    <figure class="exit" (click)="hideOptions()">
      <app-create-icon [class]="'color-white'" [name]="'cancel'" [url]="'../../../../assets/svg_2/cancelar.svg'"></app-create-icon>
    </figure>
    <div class="containService__data" style="width: 100%">
      <div class="whenService d-flex justify-content-between pb-2">
        <div class="client">
          <div class="input__contain">
            <label for="" style="font-size: 1rem;">Cliente N° {{newClient.numClient}}</label>
          </div>
        </div>
      </div>
      <div class="dataService d-flex justify-flex-start pt-4 pb-2">
        <div class="input__contain">
          <label for="">Nombre(s)</label>
          <input type="text" placeholder="Nombre" name="names" [(ngModel)]="newClient.name" required>
        </div>
        <div class="input__contain name">
          <label for="">Apellido Paterno</label>
          <input type="text" placeholder="Apellido Paterno" name="lastname" [(ngModel)]="newClient.lastName" required>
        </div>
        <div class="input__contain name">
          <label for="">Apellido Materno</label>
          <input type="text" placeholder="Apellido Materno" name="lastnameMother" [(ngModel)]="newClient.motherLastName" required>
        </div>
        <div class="input__contain">
          <label for="">Empresa</label>
          <input type="text" placeholder="Nombre" name="nameCompany" [(ngModel)]="newClient.nameCompany" required>
        </div>
      </div>
      <div class="dataService d-flex justify-flex-start pt-4 pb-2">
        <div class="input__contain name">
          <label for="">NIF</label>
          <input type="text" placeholder="A0000000" name="nif" [(ngModel)]="newClient.nif" required>
        </div>
        <div class="input__contain">
          <label for="">Correo electrónico</label>
          <input type="email" pattern="[\w0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" placeholder="correo@correo.com" name="email" [(ngModel)]="newClient.email" required>
        </div>
        <div class="input__contain name">
          <label for="">Teléfono 1</label>
          <input type="text" minlength="7" pattern="^[0-9]*$" placeholder="000 000 000" name="numberOne" [(ngModel)]="newClient.phoneOne" required>
        </div>
        <div class="input__contain name">
          <label for="">Teléfono 2</label>
          <input type="text" minlength="7" pattern="^[0-9]*$" placeholder="000 000 000" name="numberTwo" [(ngModel)]="newClient.phoneTwo" required>
        </div>
      </div>
      <div class="direccion">
        <h3 class="title">DIRECCIÓN (De quien contrata el servicio)</h3>
        <div class="direccion__contain">
          <div class="d-flex justify-flex-start align-items-center flex-wrap">
            <div class="input__contain">
              <label for="">Dirección</label>
              <input type="text" class="w-100" placeholder="Dirección" name="localitation" [(ngModel)]="newClient.direction" required>
            </div>
            <div class="input__contain">
              <label for="">N° Externo</label>
              <input type="text" class="max-width-60" placeholder="00" name="numExt" [(ngModel)]="newClient.numberExternal" required>
            </div>
            <div class="input__contain">
              <label for="">N° Interno</label>
              <input type="text" class="max-width-60" placeholder="00" name="numInt" [(ngModel)]="newClient.numberInternal" required>
            </div>
            <div class="input__contain">
              <label for="">Provincia</label>
              <input class="w-100" name="province" [(ngModel)]="newClient.province" required>
            </div>
          </div>
          <div class="d-flex justify-flex-start align-items-center flex-wrap pt-4">
            <div class="input__contain">
              <label for="">Municipio</label>
              <input class="w-100" name="municipality" [(ngModel)]="newClient.municipality">
            </div>
            <div class="input__contain code">
              <label for="">Código postal</label>
              <input class="max-width-60" type="text" placeholder="Código postal" name="postalcode" [(ngModel)]="newClient.postalCode" required>
            </div>
          </div>
        </div>
      </div>
    </div>
    <aside class="containService__aside actualizar">
      <div>
        <div class="buttons d-flex justify-content-center align-items-center boton_actualizar">
          <button (click)="updateClient()" class="buttonSave">
            Actualizar
          </button>
        </div>
      </div>
    </aside>
  </form>
  <div class="services" *ngIf="showView === SERVICES" >
    <figure class="exit" (click)="hideOptions()">
      <app-create-icon [class]="'color-white'" [name]="'cancel'" [url]="'../../../../assets/svg_2/cancelar.svg'"></app-create-icon>
    </figure>
    <div class="services__header">
      <h3>Servicios</h3>
    </div>
    <div class="services__main">
      <div class="service" *ngFor="let service of allServiceOfClient">
        <div class="left">
          <div class="one">
            <div class="clientAndStatus">
              <p><strong>Cliente: </strong>{{ service.name }} {{ service.lastName }}</p>
              <div class="priority-label">
                <label class="priority-label priority info" [ngClass]="{'urgent': service.priority}">
                  <span *ngIf="service.priority">Urgente</span>
                  <span *ngIf="!service.priority">Normal</span>
                </label>
              </div>
            </div>
            <p><strong>Fecha: </strong>{{ getDate(service.startDate) }}</p>
            <p><strong>Hora: </strong>{{ service.startHours }}</p>
            <p style="word-break: break-word;"><strong>Descripción: </strong>{{ service.description }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>