<section>
  <div class="section-title">
    <h3>TUS CLIENTES</h3>
  </div>
  <div>
    <img src="../../../../assets/svg/buscar.svg" alt="">
    <input type="search" placeholder="Buscar">
  </div>
  <div class="list">
    <div class="client__contain">
      <div class="client__contain--title">
        <h4>Numero cliente</h4>
        <p>nombre</p>
        <p>00/00/0000</p>
      </div>
      <div class="client__contain--icon">
        <figure><img src="../../../../assets/svg/firma.svg" alt=""></figure>
      </div>
    </div>
    <div class="client__contain">
      <div class="client__contain--title">
        <h4>Numero cliente</h4>
        <p>nombre</p>
        <p>00/00/0000</p>
      </div>
      <div class="client__contain--icon">
        <figure><img src="../../../../assets/svg/firma.svg" alt=""></figure>
      </div>
    </div>
    <div class="client__contain">
      <div class="client__contain--title">
        <h4>Numero cliente</h4>
        <p>nombre</p>
        <p>00/00/0000</p>
      </div>
      <div class="client__contain--icon">
        <figure><img src="../../../../assets/svg/firma.svg" alt=""></figure>
      </div>
    </div>
    <div>
      paginacion
    </div>
  </div>
</section>